* {
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: grid;
  grid-template-columns: 320px 200px;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
}

#board {
  border: 2px solid black;
}

#play-btn {
  background-color: greenyellow;
  font-size: 15px;
  padding: 15px 30px;
  cursor: pointer;
}

.controller {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#speed {
  padding: 5px;
  max-width: 100px;
  border: none;
}

#speed:focus {
 outline: none;
}

#hight-score {
  margin-top: 20px;
}

p {
  text-align: left;
}

.speed-wrap {
  text-align: left;
}