.wrap{
    color: $black;
}
// common
body.not_scroll{overflow: hidden;}
/* Hide scrollbar for Chrome, Safari and Opera */
.title-holder_list::-webkit-scrollbar,
.gnb-sub_inner::-webkit-scrollbar{
    display: none;
    }

  /* Hide scrollbar for IE, Edge and Firefox */
.title-holder_list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }

.txt_white{
    color: $white;
}
.only_mo{
    display: none;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color .2s ease-out,color .2s ease-out,border .2s ease-out;
    @media (hover:hover){
        &:hover{
            color: $black;
            background-color: $white;
        } 
        }
    &.txt_black{
        border: 1px solid $black;
        color: $black;
        @media (hover:hover){
            &:hover{
                color: $white;
                background-color: $black;
            } 
            }
    }
}
[class*=swiper-button-]{
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 60px;
    height: 60px;
    margin-top: 0;
    transform: translateY(-50%);
    cursor: pointer;
    background-image: none;
    border-right: 1.5px solid #fff;
    border-top: 1.5px solid #fff;
    @include respond-below (1024px){
        position: absolute;
        top: auto;
        bottom: 60.83333vw;
        width: 4.16667vw;
        height: 4.16667vw;
        margin-top: 0;
        border-right: 1.5px solid #fff;
        border-top: 1.5px solid #fff;
    }
}
.swiper-button-prev{
    left: 80px;
    transform: rotate(225deg);
}
.swiper-button-next{
    right: 80px;
    transform: rotate(45deg);
}
// header
.header{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0 35px 0 38px;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;
    @include respond-below(1024px) {
        height: 20vw;
        padding: 0 5vw 0 1.6vw;
    }
    &_inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        @include respond-below(1024px) {
            justify-content: space-between;
        }
        .logo{
            display: inline-block;
            font-size: 0;
            @include respond-below(1024px) {
                width: 40%;
            }
            &_link{
                display: inline-block;
                width: 141px;
                padding: 22px 30px;
                @include respond-below(1024px) {
                    width: 100%;
                    padding: 2.77778vw 5.55556vw;
                    box-sizing: border-box;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    &_open-nav-mo{
        display: none;
        cursor: pointer;
        @include respond-below(1024px) {
            display: block;
        }
        .bar1, .bar2, .bar3 {
            width: 7.22222vw;
            height: 0.55556vw;;
            margin: 1.94444vw 0;
            background-color: #333;
            transition: 0.4s;
        }
        &.is_show{
            .bar1 {
                transform: translate(0, 2.5vw) rotate(45deg);
                }
            .bar2 {opacity: 0;}
            .bar3 {
                transform: translate(0, -2.5vw) rotate(-45deg);
        }
        
        }
    }
    .box-chat{
        position: fixed;
        right: 30px;
        bottom: 60px;
        width: 89px;
        height: 89px;
        border-radius: 8px;
        cursor: pointer;
        @include respond-below(1024px){
            right: 10px;
            bottom: 10px;
            width: 65px;
            height: 65px;
            border-radius: 8px;
        }
        img{
            width: 100%;
        }
    }
}
.gnb{
    &_area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 80px;
        flex-grow: 1;
        @include respond-below(1024px) {
            display: none;
        }
    }
    &_wrap{
        height: 100%;
    }
    &_list{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 0;
        &.is_hover .gnb_btn{
            opacity: 0.4;
        }
        
    }
    

    &_btn{
        height: 100%;
        padding: 9px;
        font-family: 'NobelB Bold';
        font-size: 15px;
        text-transform: uppercase;
        &.is_active{
            opacity: 1 !important;
        }
    }
    &_close{
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        &:hover{
            opacity: 0.4;
        }
    }
}
.quick-menu{
    &_item{
        display: inline-block;
    }
    &_link{
        padding: 10px 15px;
        font-family:'NobelB Regular';
        font-size: 12px;
        color: $black;
        text-transform: uppercase;
    }
}
.gnb-sub{
    visibility: hidden;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100vw;
    background: rgba(66,66,66,.2);
    opacity: 0;
    transition: 0.6s linear all;
    backdrop-filter: blur(40px);
    &.is_active{
        visibility: visible;
        opacity: 1;
    }
    &_inner{
        overflow: visible;
        position: relative;
        left: -100%;
        width: 20%;
        height: calc(100vh - 75px);
        box-sizing: border-box;
        transition: all linear 0.6s;
        padding-top: 50px;
        background-color: #f0f0f0;
        // overflow-y: scroll;
        &.is_show{
            left: 0;
        }
    }
    &_menu{
        display: none;
        .gnb-sub_item{
        min-width: 60%;
        padding: 0 20px 0 40px;
        box-sizing: border-box;
            &.is_show{
                .gnb-sub_link{
                    font-weight: bold;
                    &::after{
                        visibility: visible;
                        opacity: 1;
                        transform: translate3d(20px,0,0);
                        
                    }
                }
                .gnb-dept_list{
                    visibility: visible;
                    opacity: 1;
                }
            }
            .gnb-dept{
                &_list{
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    height: 100%;
                    background: #2c2c2c;
                    opacity: 0;
                    padding-top: 50px;
                    .gnb-dept_item{
                        width: 80%;
                        padding: 0 20px 0 40px;
                        &.is_show{
                            .gnb-dept_link{
                                color: $white;
                            }
                            .gnb-dept_detail{
                                visibility: visible;
                                overflow: hidden;
                                opacity: 1;
                                img{
                                    visibility: visible;
                                    opacity: 1;
                                    animation: fadeScaleIn .3s cubic-bezier(0,.35,0,1);
                                }
                            }
                            .gnb-dept_link::after{
                                visibility: visible;
                                opacity: 1;
                                transform: translate3d(0,0,0);
                            }
                        }
                        
                    }
                    
                }
                &_link{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding:15px 10px;
                    font-family: 'NobelB Regular';
                    font-size: 20px;
                    color: #656565;
                    &::after{
                        display: inline-block;
                        visibility: hidden;
                        min-width: 5px;
                        width: 5px;
                        height: 10px;
                        background: url(../../../img/svg/btn_arr_rt_over.svg) no-repeat 50%/contain;
                        opacity: 0;
                        transform: translate3d(-10px,0,0);
                        content: '';
                        transition: all .2s,transform .2s;
                    }
                }
                &_detail{
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 300%;
                    height: 100%;
                    opacity: 0;
                    figure{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        
                        img{
                            visibility: hidden;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            object-fit: cover;
                        }
                    }
                    .detail_wrap{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: absolute;
                        top: 80px;
                        left: 60px;
                        width: 100%;
                        height: calc(100% - 240px);
                        .detail-title{
                            .car{
                                &_modal{
                                    font-family: 'NobelBook-Regular';
                                    font-size: 47px;
                                    color: $white;
                                }
                                &_price{
                                    margin-top: 20px;
                                    font-family: 'NobelBook-Regular';
                                    font-size: 25px;
                                    color: $white;
                                }
                            }
                            .system{
                                display: flex;
                                margin-top: 20px;
                                gap: 5px;
                                &_link{
                                    width: 156px;
                                    height: 56px;
                                }
                            }
                        }
                        .detail-parameter{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 75px;
                            dl{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
                            dd{
                                font-size: 28px;
                                color: $white;
                            }
                            dt{
                                font-size: 20px;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        &.is_show{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &_link{
        display: flex;
        visibility: visible;
        justify-content: space-between;
        align-items: center;
        margin: 15px 10px 15px;
        font-family: 'NobelB Regular';
        font-size: 20px;
        color: $black;
        opacity: 1;
        &::after{
            display: inline-block;
            min-width: 5px;
            width: 5px;
            height: 10px;
            background: url(../../../img/svg/btn_arr_rt.svg) no-repeat 50%/contain;
            opacity: 0;
            transform: translate3d(-10px,0,0);
            content: '';
            transition: opacity .1s,transform .1s;
        }
    }
    &_footer{
        width: 100%;
        margin-top: 35px;
        padding: 0 20px 0 40px;
        box-sizing: border-box;
    }
    &_footer_list{
        border-top: 1px solid #d8d8d8;
        padding-top: 20px;
        li{
            padding: 10px 15px;
        }
    }
    &_footer_link{
        font-size: 14px;
        color: #717171;
    }
}

@keyframes fadeScaleIn {
    0%{
        opacity: 0;
        transform: scale(1.05);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes accordeonAni {
    0% {
        max-height: 0;
    }
}


//Main
// section key visual
.section{
    overflow: hidden;
    position: relative;
}
.key-visual{
    top: 76px;
    height: 1000px;
    @include respond-below(1024px) {
        top: 20vw;
        height: 158.33333vw;
    }
    &_bg{
        position: absolute;
        top: 0;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-wrap{
        position: relative;
        height: 100%;
        @include respond-below(1024px) {
            .sub_title_item:first-child{
                .sub_title_link{
                    color: white;
                    background-color: #000;
                    border-color: black;
                }
            }
        }
        &.txt_white{
            color: $white;
            @include respond-below(1024px) {
                .sub_title_item:first-child{
                    .sub_title_link{
                        color: black;
                        background-color: $white;
                        border-color: $white;
                    }
                }
            }
            .sub_title_link{
                color: $white;
                border-color: $white;
                @media (hover:hover){
                    &:hover{
                        color: $black;
                        background-color: $white;
                    }
                    }
            }
        }
    }
    &_content{
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        min-width:1280px;
        padding: 90px 8vw 0;
        gap: 45px;
        @include respond-below(1024px) {
            flex-direction: column;
            align-items: start;
            padding: 4.44444vw 5.55556vw 0;
            gap: 0;
        }
        .title{
            font-family: NobelB Regular;
            font-size: 250px;
            letter-spacing: -.03em;
            line-height: 1;
            @include respond-below(1024px) {
                font-size: 25vw;
            }
        }
        .sub_title{
            &_lang-ko{
                font-family: SD Gothic Neo;
                font-size: 40px;
                line-height: 1.125;
                @include respond-below(1024px) {
                    font-size: 5.6vw;
                }
            }
            &_lang-en{
                margin-top: 18px;
                font-family: NobelB Regular;
                font-size: 24px;
                letter-spacing: .03em;
                line-height: 1.54167;
                @include respond-below(1024px) {
                    font-size: 3.6vw;
                }
            }
            &_list{
                display: flex;
                margin-top: 40px;
                gap: 12px;
                @include respond-below(1024px) {
                    width: 43.33333vw;
                }
            }
            &_item{
                @include respond-below(1024px) {
                    
                }
            }
            &_link{
                height: 50px;
                padding: 0 40px;
                @include respond-below(1024px) {
                    width: 43.33333vw;
                    height: 12vw;
                    font-size: 3.6vw;
                }
            }
        }
    }
    .swiper-pagination{
        bottom: 30px;
        .swiper-pagination-bullet{
            margin: 0;
        }
        &-bullet-active{
            background: $white;
        }
        & span:not(:last-of-type){
            margin-right: 20px;
        }
    }
}

.models-visual{
    top: 76px;
    height: 1000px;
    padding: 110px 0 55px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    @include respond-below(1024px) {
        top: 20vw;
        height: 158.33333vw;
        padding: 13.88889vw 0 8.33333vw;
    }
    &_title-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;
        padding: 0 9vw;
        @include respond-below(1024px) {
            flex-direction: column;
            align-items: start;
        }
        &.txt_white{
            .title-holder_heading{
                color: $white;
            }
            .title-holder_btn{
                &::after{
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #999;
                    content: '';
                    transition: all 0.3s linear;
                }
                &.is_active{
                    color: $white;
                    &::after{
                        width: 100%;
                        background-color: $white;
                    }
                }
            }
        }
    }
    .title-holder{
        &_heading{
            font-family: NobelB Regular;
            font-size: 80px;
            line-height: 1;
            text-transform: uppercase;
            @include respond-below(1024px) {
                font-size: 9.72222vw;
            }
        }
        &_list{
            display: flex;
            @include respond-below(1024px) {
                width: 100%;
                padding: 5.97222vw 0 0;
                overflow-x: auto;
            }
        }
        &_item{
            &:hover{
                .title-holder_btn::after{
                    width: 100%;
                }
            }
            &:not(:first-of-type){
                margin-left: 20px;
            }
        }
        &_btn{
            font-family: NobelB Regular;
            font-size: 18px;
            color: #c7c7c7;
            letter-spacing: 1px;
            text-transform: uppercase;
            @include respond-below(1024px) {
                font-size: 4.16667vw;
                white-space: nowrap;
                line-height: 1;
            }
            &::after{
                display: block;
                width: 0;
                height: 2px;
                background: #999;
                content: '';
                transition: all 0.3s linear;
            }
            &.is_active{
                color: $black;
                &::after{
                    width: 100%;
                    background-color: $black;
                }
            }
        }
    }
    .carousel-car{
        display: none;
        position: relative;
        padding-top: 70px;
        &.is_active{
            display: block;
        }
        &_title_list{
            display: flex;
            justify-content: center;
            position: relative;
            text-align: center;
        }
        &_title_item{
            visibility:hidden;
            position: absolute;
            opacity: 0;
            &.is_show{
                visibility: visible;
                position: relative;
                opacity: 1;
                transition: opacity .5s ease-in-out,transform 10s cubic-bezier(0,0,0,0);
            }
            .title{
                &_icon{
                    display: inline-block;
                    padding: 8px 8px 7px 9px;
                    background: linear-gradient(180deg,#376dd6,#122f65);
                    font-family: NobelB Regular;
                    font-size: 16px;
                    color: #fff;
                    @include respond-below(1024px) {
                        padding: 0.97222vw 1.02778vw 0.80556vw 1.11111vw;
                        font-size: 2.77778vw;
                    }
                }
                &_text-modal{
                    margin-top: 22px;
                    font-family: NobelB Regular;
                    font-size: 40px;
                    @include respond-below(1024px){
                        margin-top: 3.47222vw;
                        font-size: 5.55556vw;
                    }
                }
                &_price{
                    margin-top: 18px;
                    font-family: NobelBook-Regular;
                    font-size: 26px;
                    @include respond-below(1024px){
                        margin-top: 1.94444vw;;
                        font-size: 4.16667vw;
                    }
                }
            }
        }
        &_item{
            display: flex;
            justify-content: center;
            // min-width: 830px;
            img{
                width: 100%;
                max-width: 877px;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
                }
            }
        .link_list_wrap{
            margin-top: 40px;
        }
        .link_list{
            display: flex;
            visibility: hidden;
            justify-content: center;
            position: absolute;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
            gap: 10px;
            &.is_show{
                visibility: visible;
                opacity: 1;
            }
            .link{
                height: 50px;
                padding: 0 40px;
                @include respond-below(1024px){
                    width: 43.33333vw;
                    height: 8vw;
                    padding: 0;
                    font-size: 3.61111vw;
                }
            }
        }
        .swiper-wrapper{
            width: 50%;
            @include respond-below(1024px){
                width: 75%;
                padding: 0;
            }
        }
        &:last-child{
            display: block;
            visibility: hidden;
            position: absolute;
            top: -70px;
            opacity: 0;
            .link_list{display: none;}
            &.is_active{
                visibility: visible;
                opacity: 1;
                transition: opacity .5s ease-in-out,transform 10s cubic-bezier(0,0,0,0);
                .link_list{
                    display: block;
                }
            }
            .carousel-car_title_item.is_show{
                transition: opacity .6s ease-in,visibility .3s ease-in;
            }
            .carousel-car_slider{
                height: 1000px;
                @include respond-below(1024px){
                    height: 158.33333vw;
                }
            }
            .carousel-car_title_list{
                position: absolute;
                top: 250px;
                left: 9vw;
                z-index: 10;
                @include respond-below(1024px){
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            img{
                max-width: unset;
            }
            .link_list{
                position: absolute;
                bottom: 185px;
                left: 50%;
                z-index: 1;
                margin-top: 0;
                transform: translateX(-50%);
                @include respond-below(1024px){
                    bottom: 32vw;
                }
            }
            [class*=swiper-pagination-]{
                bottom: 116px;
                @include respond-below(1024px){
                    bottom: 24vw;
                }
            }
            .title_text-modal{
                font-weight: 400;
            }
            
            
        }
    }
    
    [class*=swiper-pagination-]{
        bottom: -159px;
        @include respond-below(1024px){
            bottom: -30vw;
            font-size: 3.33333vw;
        }
    }
    .carousel-car_list.future{
        width: 100%;
    }
    .swiper-button-next,.swiper-button-prev{
        @include respond-below(1024px){
            display: none;
        }
    }
}
// offer section
.offers{
    top: 76px;
    height: 1000px;
    padding: 110px 9vw 55px 9vw;
    box-sizing: border-box;
    @include respond-below(1024px) {
        top: 20vw;
        height: 158.33333vw;
        padding: 13.88889vw 0 0 5.13889vw;
    }
    &_header{
        font-family: 'NobelB Regular';
        font-size: 80px;
        color: $white;
        @include respond-below(1024px) {
            font-size: 9.72222vw;
        }
    }
    &_title-holder_wrap{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        @include respond-below(1024px) {
            flex-direction: column;
            align-items: start;
        }
    }
    &_link-all{
        margin-left: 30px;
        color: $white;
        border-bottom: 1px solid $white;
        text-decoration: none;
        @include respond-below(1024px) {
            margin: 2.77778vw 0 0 ;
        }
    }
    .offersSwiper{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &_content_wrap{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 120px;
        left: 50%;
        width: 100%;
        max-width: 1200px;
        height: 220px;
        padding: 40px 7.5vw 35px;
        transform: translateX(-50%);
        box-sizing: border-box;
        background-color: $white;
        @include respond-below(1024px) {
            flex-direction: column;
            justify-content: space-between;
            bottom: 5.55556vw;
            width: auto;
            max-width: unset;
            height: 49.72222vw;
            margin: 0 auto;
            padding: 5.55556vw;
        }
    }
    &_bg{
        width: 100vw;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_title{
        font-family: 'NobelB Regular';
        font-size: 32px;
        letter-spacing: .02em;
        @include respond-below(1024px) {
            font-size: 4.44444vw;
        }
    }
    &_list{
        margin-top: 30px;
        @include respond-below(1024px){
            margin-top: 2.77778vw;
        }
    }
    &_item{
        
        font-family:'SD Gothic Neo';
        font-size: 16px;
        @include respond-below(1024px) {
            font-size: 3.33333vw;
        }
    }
    .link_list{
        display: flex;
        justify-content: center;
    }
    .link_item{
        @include respond-below(1024px) {
            &:first-child{
                .offers_link{
                    color: $white;
                    background-color: $black;
                }
            }
        }
        &:last-child{
            margin-left: 10px;
        }
    }
    &_link{
        width: 186px;
        height: 50px;
        @include respond-below(1024px){
            width: 38.05556vw;
            height: 12.5vw;
            font-size: 3.61111vw;
        }
    }
    .swiper-button-next{
        @include respond-below(1024px){
            right: 5.55556vw;
        }
    }
    .swiper-button-prev{
        @include respond-below(1024px){
            right: 16.11111vw;
            left: auto;
        }
    }
}
// banners section
.banners{
    top: 76px;
    @include respond-below(1024px){
        overflow: unset;
        top: 20vw;
    }
    &_list{
        display: flex;
        flex-wrap: wrap;
    }
    &_link{
        width: 100%;
        color: $black;
        &.txt_white{
            color: $white;
            .banners_btn{
                color: $white;
                border-bottom: 1px solid $white;
            }
        }
    }
    &_item{
        overflow: hidden;
        position: relative;
        width: 50%;
        height: 100%;
        padding-top: 40%;
        @include respond-below(1024px){
            position: sticky;
            top: 20vw;
            width: 100%;
            padding-top: 100vh;
        }
        &:first-child{
            width: 100%;
            .banners_btn{
                margin-top: 40px;
                @include respond-below(1024px){
                    margin-top: 5.66vw;
                }
            }
        }
        &:hover{
            img{
                transform: scale(1.05);
            }
        }
    }
    &_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            transition: transform .2s;
            object-fit: cover;
        }
    }
    &_txt_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 88px 40px 71px;
        box-sizing: border-box;
    }
    &_title{
        font-family: 'SD Gothic Neo';
        font-size: 26px;
    }
    &_title-desc{
        margin-top: 20px;
        font-family: 'SD Gothic Neo';
        font-size: 18px;
        text-align: center;
    }
    &_btn{
        margin-top: auto;
        font-family: 'SD Gothic Neo';
        font-size: 18px;
        border-bottom: 1px solid #000;
        @include respond-below(1024px){
            margin-top: 5.66vw;
        }
    }
}
// stories section
.stories{
    margin-top: 160px;
    @include respond-below(1024px){
        top: 20vw;
        margin-top: 19.44444vw;
    }
    &_header{
        padding: 0 9vw;
        font-family: 'NobelB Regular';
        font-size: 80px;
        @include respond-below(1024px){
            padding: 0 5.55556vw;
            font-size: 10.83333vw;
        }
    }
    &_list{
        margin-top: 90px;
    }
    &_item{
        position: relative;
        @media (hover:hover){
            &:hover{
                .stories_link{
                    background-color: $black;
                }
                .stories_txt{
                    color: $white;
                }
                .stories_img{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
            }
        &:last-child{
            display: none;
        }
        &::before{
            position: absolute;
            bottom: 0;
            width: 37%;
            height: 0.5px;
            content: '';
            background-color: #acacac;
            @include respond-below (1024px){
                display: none;
            }
        }
        &:first-child
        {
            &::after{
                position: absolute;
                top: 0;
                width: 37%;
                height: 0.5px;
                content: '';
                background-color: #acacac;
                @include respond-below (1024px){
                    display: none;
                }
            }
            
        }
    }
    &_link{
        display: flex;
        align-items: center;
        transition: all .3s ease-out,color .3s ease-out;
        @include respond-below (1024px){
            flex-direction: column-reverse;
        }
    }
    &_txt{
        width: 37%;
        height: 100%;
        padding: 0 7vw 0 9.8vw;
        font-family: 'NobelB Regular';
        font-size: 24px;
        font-weight: 400;
        color: #000;
        letter-spacing: .02em;
        box-sizing: border-box;
        line-height: 1.66667;
        @include respond-below (1024px){
            width: 100%;
            padding: 4.16667vw 5.55556vw 6.94444vw;
            font-size: 3.33333vw;
        }
    }
    &_img{
        overflow: hidden;
        width: 63%;
        height: 410px;
        @include respond-below (1024px){
            width: 100%;
            height: 60vw;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .2s;
        }
    }
    &_load-more{
        height: 160px;
        background: #f5f5f5;
        @include respond-below (1024px){
            height: unset;
            padding: 6.94444vw 5.55556vw;
            background-color: $black;
        }
        @media (hover:hover){
            &:hover{
                background-color: $black;
                .stories_btn{
                    color: $white;
                }
            }
            }
        &.is_show{
            @include respond-below (1024px){
                background-color: #f5f5f5;
            }
            &:hover{
                background-color:unset ;
            }
            .stories_btn{
                display: none;
            }
            .stories_hash_list{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                gap: 10px;
                @include respond-below (1024px){
                    flex-wrap: wrap;
                    justify-content: start;
                }
            }
            .stories_hash_link{
                padding: 20px 40px;
                border: 1px solid #d6d6d6;
                color: $black;
                background-color: $white;
                @media (hover: hover){
                    &:hover{
                        color: $white;
                        background-color: $black;
                    }
                    }
                &.black{
                        color: $white;
                        background-color: #000;
                    @media (hover: hover){
                    &:hover{
                        border: 1px solid $black;
                        color: $black;
                        background-color: $white;
                    }
                    }
                };
            }
        }
    }
    &_btn{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: 'NobelB Regular';
        font-size: 22px;
        padding-right: 40px;
        transition: background-color .1s ease-out,color .1s ease-out;
        @include respond-below(1024px){
            justify-content: center;
            padding: unset;
            font-size: 3.33333vw;
            color: $white;
        }
    }
    &_btn-plus{
        margin-left: 10px;
        font-size: 40px;
        @include respond-below(1024px){
            font-size: 6.38889vw;
        }
    }
    &_hash_list{
        display: none;
    }
}
.film-brand{
    overflow: hidden;
    width: 100%;
    @include respond-below(1024px){
        top: 20vw;
    }
    &_wrap{
        padding-top: 40%;
        @include respond-below(1024px){
            padding-top: 106.94444vw;
        }
    }
    &_link{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        &:hover{
            transition: transform 0.2s linear;
        }
        img{
            width: 100%;
            object-fit: cover;
            transition: transform .2s;
        }
        img:hover{
            transform: scale(1.05);
        }
    }
}
.support{
    
    padding: 134px 9vw 120px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    @include respond-below(1024px){
        top:20vw;
        padding: 13.88889vw 5.55556vw 16.66667vw;
    }
    &_wrap{
        position: relative;
    }
    &_header{
        display: inline-block;
        font-family: 'NobelB Regular';
        font-size: 80px;
        text-transform: uppercase;
        @include respond-below(1024px){
            font-size: 9.72222vw;
        }
    }
    &_banner-list{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 57px;
        gap: 18px;
        @include respond-below(1024px){
            margin-top: 19.72222vw;
            gap: 2.22222vw;
        }
    }
    &_banner-item{
        width: 100%;
    }
    &_banner-link{
        display: block;
        padding: 60px;
        border-radius: 20px;
        color: $black;
        transform: translateY(0) scale(1);
        box-sizing: border-box;
        background-color: $white;
        transition: transform .1s cubic-bezier(0,0,0,0);
        @include respond-below(1024px){
            padding: 8.47222vw 25vw 9.02778vw 9.72222vw;
            border-radius: 2.77778vw;
        }
        &:hover{
            transform: translateY(-6px) scale(1.05);
        }
    }
    .banner-link_text,
    .banner-link_btn{
        font-family: 'SD Gothic Neo';
        font-size: 22px;
        @include respond-below(1024px){
            font-size: 4.44444vw;
        }
    }
    .banner-link_btn{
        margin-top: 30px;
        border-bottom: 1px solid #000;
        @include respond-below(1024px){
            margin-top: 2vw;
            font-size: 3.33333vw;
        }
    }
    &_sns-list{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        gap: 25px;
        @include respond-below(1024px){
            justify-content: start;
            top: 10vw;
            left: 0;
            margin-top: 4.86111vw;
            gap: 3.61111vw;
        }
    }
    &_sns-link{
        display: flex;
        align-items: center;
        width: 38px;
        transition: all 0.2s linear;
        @include respond-below(1024px){
            width: 6.11111vw;
            
        }
        &.facebook{
            height: 38px;
            background: url(../../../img/svg/btn_support_facebook.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            @include respond-below(1024px){
                height: 6.11111vw;
            }
            &:hover{
                height: 38px;
                background: url(../../../img/svg/btn_support_facebook_hover.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                @include respond-below(1024px){
                    height: 6.11111vw;
                }
            }
        }
        &.instagram{
            height: 38px;
            background: url(../../../img/svg/btn_support_instagram.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            @include respond-below(1024px){
                height: 6.11111vw;
            }
            &:hover{
                height: 38px;
                background: url(../../../img/svg/btn_support_instagram_hover.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                @include respond-below(1024px){
                    height: 6.11111vw;
                }
            }
        }
        &.youtube{
            height: 26px;
            background: url(../../../img/svg/btn_support_youtube.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            @include respond-below(1024px){
                height: 4.16667vw;
            }
            &:hover{
                height: 26px;
                background: url(../../../img/svg/btn_support_youtube_hover.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                @include respond-below(1024px){
                    height: 4.16667vw;
                }
            }
        }
    }
}
// footer
.footer{
    position: relative;
    z-index: 10;
    background: #1c1c1c;
    @include respond-below(1024px){
        top: 20vw;
    }
    &_wrap{
        padding: 44px 9vw 32px;
        @include respond-below(1024px){
            padding: 0 5.55556vw 7.91667vw;
        }
    }
    &_menu_list{
        display: flex;
        justify-content: center;
        align-items: start;
        @include respond-below(1024px){
            flex-direction: column;
            
        }
    }
    &_menu_item{
        display: flex;
        flex-direction: column;
        flex-basis: 16.7vw;
        @include respond-below(1024px){
            justify-content: center;
            width: 100%;
            border-bottom:1px solid #434343;
            
        }
        &:nth-child(5){
            .footer_title::after{
                display: none;
            }
        }
        &:nth-child(6){
            .footer_title::after{
                display: none;
            }
        }
    }
    &_title{
        position: relative;
        font-family: 'SD Gothic Neo';
        font-size: 16px;
        font-weight: 400;
        color: $white;
        @include respond-below(1024px){
            display: block;
            padding: 6.94444vw 0;
            font-size: 3.88889vw;
            cursor: pointer;
            &.change::after{
                transform: rotate(180deg);
            }
            &::after{
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 3.15vw;
                height: 1.76944vw;
                background: url(../../../img/svg/btn_arr-mo_down.svg) no-repeat 50%/contain;
                transform: translateY(-50%);
                content: "";
                transition: transform .3s ease-in-out;
            }
        }
    }
    &_menu_item-sub{
        margin-top: 20px;
        @include respond-below(1024px){
            display: none;
            margin-top: 0;
            padding: 2vw 0;
            border-top:1px solid #434343;
            &.is_active{
                display: block;
            }
        }
        li{
            margin-top: 12px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    &_menu_item-link{
        font-family: 'SD Gothic Neo';
        font-size: 14px;
        color: #afafaf;
        letter-spacing: .8px;
        transition: color .1s ease;
        @include respond-below(1024px){
            display: block;
            padding: 1vw 0;
            font-size: 3.61111vw;
            box-sizing: border-box;
        }
        @media (hover:hover){
            &:hover{
                color: $white;
            }
            }
            
    }
    &_static{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 55px;
        padding-top: 30px;
        border-top: 1px solid #434343;
        @include respond-below(1024px){
            flex-direction: column;
            align-items: start;
            margin-top: 0;
            border: none;
        }
    }
    .contact_wrap{
        display: flex;
        margin-top: 8px;
        font-family: 'SD Gothic Neo';
        font-size: 14px;
        color: #afafaf;
        @include respond-below(1024px){
            font-size: 2.5vw;
        }
        &:first-child{
            margin-top: 0;
        }
        dt{
            min-width: 200px;
        }
        dd{
            min-width: 300px;
        }
        a{
            margin-right: 2px;
            color: #afafaf;
            transition: color .1s ease;
            @media (hover:hover){
                &:hover{
                    color: $white;
                }
                }
        }
    }
    &_coppyright_list{
        display: flex;
        flex-shrink: 0;
        gap: 25px;
        @include respond-below(1024px){
            justify-content: space-between;
            width: 100%;
            margin-top: 5.55556vw;
            border-top: 1px solid #434343;
            padding-top: 5.55556vw;
            .footer_coppyright_item:last-child{
                display: none;
            }
        }
        a{
            font-size: 14px;
            color: #afafaf;
            transition: color .1s ease;
            @include respond-below(1024px){
                font-size: 1.94444vw;
            }
            @media (hover:hover){
                &:hover{
                    color: $white;
                }
                }
            
        }
        span{
            font-size: 14px;
            color: #afafaf;
        }
    }
    .coppyright_mo{
        margin-top: 2.77778vw;
        font-family: 'SD Gothic Neo';
        font-size: 1.94444vw;
        color: #afafaf;
    }
    
}// media query
@media only screen and (max-width: 1024px) {
    .only_mo{
        display: block;
    }
    .only_pc{
        display: none;
    }
}
@media only screen and (max-width: 1520px) {
    .support_banner-list{
        flex-wrap: wrap;
    }
    .support_banner-item{
        width: 40%;
        @include respond-below(1024px){
            width: 100%;
        }
    }
}
@media only screen and (max-width: 1250px) {
    .footer_coppyright_list{
        gap: 10px;
        @include respond-below(1024px){
            
        }
        a,span{
            font-size: 12px;
            @include respond-below(1024px){
                font-size: 1.94444vw;
            }
        }
    }
    .footer_contact{
        .contact_wrap{
            font-size: 12px;
            @include respond-below(1024px){
                min-width: unset;
                font-size: 2.5vw;
            }
            dt,dl{
                min-width: 150px;
                @include respond-below(1024px){
                    min-width: 25vw;
                }                
            }
            dd{
                @include respond-below(1024px){
                    min-width: unset;
                } 
            }
        }
        
    }
    .stories_load-more.is_show .stories_hash_link{
        padding: 10px 20px;
        @include respond-below(1024px){
            display: inline-block;
            padding: 2.22222vw 5.55556vw;
            font-size: 3.33333vw;
            white-space: nowrap;
        }
    }
    .models-visual{
        .title-holder_btn{
            font-size: 14px;
            @include respond-below(1024px){
                font-size: 4.16667vw;
            }
        }
        
    }
}
// layer
.layer{
    display: none;
    overflow: hidden;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1000;
    &.is_show{
        display: block;
    }
    &_video{
        display: none;
        width: 100vw;
        height: 100vh;
        &.is_open{
            display: block;
        }
    }
    .btn_close-video{
        position: absolute;
        top: 40px;
        right: 25px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}
// gnb-mobile
.gnb_area-mo{
    display: none;
    position: fixed;
    top: 0;
    top: 20vw;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 5.55556vw;
    background-color: $black;
    overflow-y:auto;
    &.is_show{
        display: block;
    }
}
.gnb_menu-sub_link-mo{
    display: inline-block;
    width: 100%;
    padding: 3.47222vw 0;
    font-family: 'SD Gothic Neo';
    font-size: 5vw;
    color: #fff;
}
.gnb_menu-sub_list-mo{
    display: none;
    max-height: 1050px;
    border-bottom: 1px solid #2f2f2f;
    &.is_active{
            display: block;
            &.navi-fade-enter-active{
                overflow: hidden;
                animation: accordeonAni .2s ease-out;
            }
    }
    &.navi-fade-leave-active {
        overflow: hidden;
        animation: accordeonAni .2s ease-in;
        animation-direction: reverse;
    }
}
.gnb_menu_list-mo{
    transition: all 0.3s linear;
}
.gnb_menu_btn-mo,
.gnb_menu_link-mo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 19.4vw;
    font-family: 'SD Gothic Neo';
    font-size: 5vw;
    color: $white;
    border-bottom: 1px solid #2f2f2f;
}
.gnb_menu_btn-mo{
    &.change::after{
        transform: rotate(180deg);
    }
    &::after{
        display: inline-block;
        width: 3.15vw;
        height: 1.76944vw;
        background: url(../../../img/svg/btn_arr-mo_down.svg) no-repeat 50%/contain;
        content: "";
        transition: transform .3s ease-in-out;
    }
}
.gnb_menu-utils_list{
    padding: 6.94444vw 0;
}
.gnb_menu-utils_link{
    font-family: 'SD Gothic Neo';
    font-size: 2.77778vw;
    color: #717171;
}
.gnb_menu-utils_item{
    margin-top: 2.77778vw;
    &:first-child{
        margin-top: 0;
    }
}



