/* Nanum Barun Gothic */
@font-face {
  font-family: 'NanumBarunGothic';
  src: url(../font/nanumBarunGothic.woff) format('woff');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: bold;
  src: url(../font/nanumBarunGothicBold.woff) format('woff');
}

@font-face {
  font-family:'NobelB Bold' ;
  src: url(../../../font/Nobel-Bold.otf) format("opentype");
}

@font-face {
  font-family:'NobelB Regular' ;
  src: url(../../../font/Nobel-Regular.otf) format("opentype");
}
@font-face {
  font-family:'SD Gothic Neo' ;
  src: url(../../../font/AppleSDGothicNeoR.ttf) format("truetype");
}