@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
:root{
  --primary-color:#fff;
  --border-radius:25px;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: PT Sans Narrow,sans-serif;
}

h1 {
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
  text-align: center;
  letter-spacing: 4px;
}

h1:hover{
  background: rgba(0, 0, 0, 0.8);
}
/* bookmarks */
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item{
  background:rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}
.item:hover{
  background:rgba(0, 0, 0, 0.6);
}
.item a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
a:link,
a:visited{
  color: white;
  text-decoration: none;
}
a:hove,
a:active{
  text-decoration: underline
  ;
}
.fa-times{
  float: right;
  cursor: pointer;
  z-index: 2;
}
.name{
  margin: 20px 20px 0 0 ;

}
.name img{
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
}
/* modal */
.modal-container{
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.show-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}
@keyframes modalopen {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.close-icon{
  float: right;
  font-size: 24px;
  position: relative;
  top:13px;
  right: 13px;
  cursor: pointer;
}
.modal-header{
  background: purple;
  color: white;
  padding: 15px;
}
h3{
  margin: 0;
  letter-spacing: 3px;
}
.modal-content{
  padding: 20px;
  background: whitesmoke;
}
/* form */
.form-group{
  height: 55px;
}
.form-input{
  width: 97%;
  padding: 5px;
  border: 2px solid purple;
  border-radius:  var(--border-radius);
  display: block;
  outline:block;
}
.form-label{
  color: purple;
  display: block;
}
button{
  cursor: pointer;
   color: white;
   background: purple;
   height: 30px;
   width: 100px;
   border: none;
   border-radius: var(--border-radius);
   margin-top: 10px;
}
button:hover{
  filter: brightness(110%);
}
button:focus{
  outline: none;
}
/* media Query: large smartphone (vertical) */
@media screen and (max-width:600px){
  .container{
    flex-direction: column;
  }
}