@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
html,body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none} /* for mobile */
body,input,select,textarea,button{font-family:'GimpoTitle',sans-serif;font-size:16px;font-weight: 400;color: #fff}
ul,ol{list-style:none}
table{border-collapse:collapse;border-spacing:0}
input,button,select{border:0;border-radius:0;-webkit-appearance:none;appearance:none;background-color:transparent}
button{cursor: pointer}
input::-ms-clear{display:none} /* input내 clear 버튼 제거 : IE10+ */ 
img,fieldset{border:0;vertical-align:top}
img{width: 100%;height: 100%}
a{display: inline-block;color: #fff;text-decoration: none}
em,address{font-style:normal}

.blind,caption span,legend{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;clip:rect(0,0,0,0)}

@font-face {
	font-family:'GimpoTitle';
	font-weight: 400;
	src:
        url(./font/GimpoTitle.woff2) format('woff2');
}
.txt_hightlight_yellow{color: #fff960; }
.txt_hightlight_bluesky{color: #00a3ff}
.txt_hightlight_red{color: #ca3838; }
.txt_hightlight_green{color: #1e9f7a; }
/* popup */
body.not_scroll{overflow:hidden}
.layer_pop{position: fixed;top: 50%;left: 50%;z-index: 999;width:25vw;padding:  1.667vw 1.667vw 1.25vw 1.667vw; transform: translate(-50%,-50%);box-sizing: border-box;background-color:#f1ebcb}
/* pop */
.pop_green.layer_pop{border-left:.41667vw solid #688a34;border-right:.41667vw solid #688a34}
.pop_red.layer_pop{border-left:.41667vw solid #cb1f3b;border-right:.41667vw solid #cb1f3b}
.pop_green::before,.pop_green::after,.pop_red::before,.pop_red::after{display:inline-block;position:absolute;left:-.41667vw;width:25vw;height:1.25vw;content:""}
.pop_green::before{top:-.41666vw;background:url(../img/img_pop_green_top_PC.png) no-repeat;background-size:100% 100%}
.pop_green::after{bottom:-.41666vw;background:url(../img/img_pop_green_bottom_PC.png) no-repeat;background-size:100% 100%}
.pop_red::before{top:-.41666vw;background:url(../img/img_pop_red_top_PC.png) no-repeat;background-size:100% 100%}
.pop_red::after{bottom:-.41666vw;background:url(../img/img_pop_red_bottom_PC.png) no-repeat;background-size:100% 100%}
.pop_txt{font-size:.729166vw;text-align:center;line-height:1.7142}
.pop_green .pop_txt{color:#283d32}
.pop_red .pop_txt{color:#721322}
.policy .pop_title{margin:1.667vw 0 .520833vw;color:#283d32}
.policy .pop_txt{text-align:left}
.layer_pop.policy,
.layer_pop.agree_info_personal,
.layer_pop.agree_register,
.layer_pop.email_success,
.layer_pop.info_no_correct,
.layer_pop.event_ended,
.layer_pop.check_info{display:none}
.layer_pop.policy.is_open,
.layer_pop.agree_info_personal.is_open,
.layer_pop.agree_register.is_open,
.layer_pop.email_success.is_open,
.layer_pop.info_no_correct.is_open,
.layer_pop.event_ended.is_open,
.layer_pop.check_info.is_open{display:block}
.agree_info_personal .pop_txt{text-align:center}
.email_crusader{display:block;margin-bottom:1.041667vw;font-size:1.041667vw;text-align:center}
.pop_green .email_crusader{color:#283d32}
.pop_red .email_crusader{color:#721322}
.pop_title{font-size:.833vw}
.pop_green .pop_list li,.pop_red .pop_title{color:#283d32}
.pop_red .pop_list li,.pop_red .pop_title{color:#721322}
.layer_pop.email_correct{display:none}
.pop_btn{position:relative;left:50%;width:7.70833vw;height:2.395833vw;margin-top:1.667vw;font-size:.8333vw;transform:translateX(-50%)}
.pop_green .pop_btn{background:url(../img/btn_pop_green.png);background-size:100% 100%}
.pop_red .pop_btn{background:url(../img/btn_pop_red.png);background-size:100% 100%}
.event_ended .pop_img{position:relative;top:50%;left:50%;width:15.833vw;height:7.29166666667vw;margin-top:.770833vw;background:url(../img/img_bubble_pop.png) no-repeat;transform:translate(-50%,6%);background-size:100% 100%}
.event_ended .pop_img_txt{display:inline-block;max-width:9.4791667vw;padding:0 0 .15625vw .41666vw;font-size:.625vw;color:#000;vertical-align:middle;line-height:1.667}
.event_ended .top_img_inner{padding:1.45833vw .9895833vw 2.604166vw 1.09375vw}
.event_ended .ic_pop{display:inline-block;width:3.333vw;vertical-align:middle}
/* common */
.content{display:block;overflow:hidden;position:relative;background-color:#000}
.js-animation,.js-animation2{position:relative;bottom:-80px;opacity:0}
.js-animation3{position:relative;bottom:-160px;opacity:0}
.js-animation4{position:relative;bottom:-160px;opacity:0}
.js-animation5{position:relative;bottom:-160px;opacity:0}
.btn_video_play{width:5vw;height:5vw;background:url(../img/btn_play_96.png) no-repeat;background-size:100% 100%}
.txt_desc{font-size:1.25vw;text-align:center;line-height:1.667}
.txt_desc.only_mo{display:none}
.cloud_mo{display:none}
.only_mo{display:none}
/* selector */
.gnb_item.is_active{background:url(../img/btn_menu_active_01.png);background-size:100% 100%}
.gnb_item:nth-child(3).is_active{background:url(../img/btn_menu_active_02.png);background-size:100% 100%}
/* layout */
.inner{display:flex;flex-direction:column;justify-content:center;align-items:center;position:relative;z-index:2;max-width:1080px;height:100%;margin:0 auto;box-sizing:border-box}
/* layer */
/* header */
.header{display:flex;justify-content:space-between;position:fixed;top:48px;z-index:1;z-index:99;width:100vw;padding:0 56px 0 48px;box-sizing:border-box;background-color: transparent}
.header .logo_wrap{display:flex;align-items:center}
.header .btn_gnbopen{display:none}
.header .logo{display:inline-block;vertical-align:middle}
.header .logo_link{width:10.9375vw}
.header .sns_facebook{width:8.958vw;height:1.77083vw;background:url(../img/ic_facebook.png) no-repeat;background-size:100% 100%}
.header .sns_youtube{width:8.125vw;height:1.77083vw;margin-left:1.32vw;background:url(../img/ic_youtube.png) no-repeat;background-size:100% 100%}
/* //header */
/* main sec */
.main_section{position:relative;height:100vh;background-image:linear-gradient(to bottom,#4db3fe 0%,#00cccd 100%)}
.main_section .inner{padding:112px 0 175px}
.main_section .bg_main{position:absolute;bottom:0;z-index:1;width:100%}
.main_section .bg_main_mo{display:none}
.main_section .sub_title{font-size:2.083vw}
.main_section .title{width:48.438vw}
.main_section .title_mo{display:none}
.main_section .txt_desc{margin-top:.3703vh;font-size:1.461979vw;text-align:center;line-height:1.6395}
.main_section .app_link{margin-top:3.7037vh;font-size:0}
.main_section .btn_aos,.main_section .btn_ios{display:inline-block;width:11.458333333333vw}
.main_section .video_box{margin-top:2.222vh}
.main_section .scroll_box{position:absolute;bottom:2.8vh;left:50%;z-index:10;z-index:3;transform:translateX(-50%)}
.main_section .app_link .btn_ios{margin-left:10px}
.main_section .character{position:absolute;top:35.37vh;left:calc(50% + 24.27vw);width:12.255vw}
.main_section .scroll_btn{width:10vw;height:1.7708vw;background:url(../img/img_scroll_down.png) no-repeat;background-size:100% 100%}
.main_section .scroll_btn:after{display:block;width:1.1979vw;height:.833vw;margin:3.888vh auto 0;background:url(../img/ic_arrow.png) no-repeat;content:"";background-size:100% 100%}
/* //spot_sec */
/* gnb */
.gnb_list{position:fixed;top:50%;left:64px;z-index:99;transform:translateY(-50%)}
.gnb_item:first-child{margin-top:0}
.gnb_item{width:10.26vw;height:3.125vw;margin-top:20px;background:url(../img/btn_menu_default_01.png) no-repeat;background-size:100% 100%}
.gnb_item:nth-child(3){height:4.9479vw;background:url(../img/btn_menu_default_02.png) no-repeat;background-size:100% 100%}
.gnb_list .gnb_link{display:flex;justify-content:center;align-items:center;width:100%;height:100%;font-size:.9375vw;color:#000;text-align:center;line-height:1.23}
/* app_list */
.app_list{display:none;position:fixed;top:80%;right:64px;z-index:99;transform:translateY(-50%)}
.app_item:first-child{margin-top:0}
.app_item{width:4.167vw;margin-top:1.0416vw}
/* layer */
.dimmed.is_open{display:block}
.dimmed{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:104;width:100%;background:rgba(0,0,0,.6)}
.layer_video.is_open{display: block}
/* video main spot */
.layer_video{display:none;position:fixed;top:50%;left:50%;z-index:105;width:54.167vw;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);padding-top:30.8334vw}
.layer_video iframe{position:absolute;top:50%;left:50%;width:53.35vw;height:30vw;border:transparent;border-radius:.85vw;transform:translate(-50%,-50%)}
.layer_video .btn_close{display:block;position:absolute;bottom:-8.888vh;left:50%;width:3.333vw;height:3.333vw;background:url(../img/btn_close_64.png) no-repeat;transform:translateX(-50%);background-size:100%}
.layer_video::after{display:block;position:absolute;top:0;width:100%;height:100%;background:url(../img/bg_video.png);content:"";background-size:100% 100%;pointer-events:none}
/* register sec */
.register_section{position:relative;background-image:linear-gradient(to bottom,#3d5446 0%,#517846 78%,#649947 100%)}
.register_section .inner{padding:8.33vw 0 14.6354vw}
.register_section .title{width:52.97vw}
.register_section .txt_desc{margin-top:0.83331vw}
.register_section .ticket_wrap{display:flex;flex-direction:column;justify-content:start;align-items:center;position:relative;width:50vw;height:34.011vw;margin-top:2.8642vw;background:url(../img/bg_register_ticket_PC.png) no-repeat;background-size:100% 100%}
.register_section .ticket_title{width:29.427vw;height:6.25vw}
.register_section .img_ticket_title_pc{object-fit:contain}
.register_section .img_ticket_title_mo{display:none;object-fit:contain}
.register_section .period_notice{font-size:1.1458vw;color:#283d32}
.register_section .period_date{margin-top:0.625vw;font-size:1.5625vw;color:#283d32}
.register_section #email_inp{width:36.459vw;height:3.542vw;padding:0 1.5625vw;font-size:1.3541vw;color:#283d32;outline:none;background-image:url(../img/bg_email_blank.png);background-size:100% 100%}
.register_section #email_inp::placeholder{color:silver}
.register_section .time_date{margin-top:.625vw}
.register_section .email_sub_text{font-size:.833vw;color:#98947d}
.register_section .checkbox_input+i{display:inline-block;width:1.0467vw;height:1.0467vw;background:url(../img/ico_checkbox_default.png) no-repeat;vertical-align:top;cursor: pointer;background-size:100% 100%}
.register_section .checkbox_input:checked+i{background:url(../img/ico_checkbox_active.png) no-repeat;cursor: pointer;background-size:100% 100%}
.register_section .period{width:39.583vw;margin-top:2.91665vw}
.register_section .checkbox_item{font-size:0}
.register_section .text_label{display:inline-block;max-width: 23.6875vw;margin-left:.8335vw;font-size:.833331vw;color:#283d32;vertical-align:top;cursor:pointer}
.register_section .email_sub_text{margin-top:.44vw}
.register_section .text_label a{color:#283d32;text-decoration:underline}
.register_section .text_label.only_mo{display: none}
.register_section .btn_register{position:absolute;top:calc(50% + 9.8vw);left:calc(50% + 8.125vw);width:11.67vw;height:3.542vw;background:url(../img/btn_register_PC.png);font-size:1.25vw;background-size:100% 100%}
.register_section .ticket_line_bg{position:absolute;top:calc(50% + 6.5vw);width:41.67vw;height:auto;transform:translateY(-50%)}
.register_section .ticket_line_bg.only_mo{display:none}
.register_section .ticket_grass_bg{position:absolute;top:50%;z-index:-1;width:77.604vw;height:auto;transform:translate(-0.989584vw,-54%)}
.register_section .ticket_rock_bg{position:absolute;right:0;bottom:0;width:11.6668vw;height:auto;transform:translate(57%,12%)}
.register_section .img_title_mo{display:none}
.register_section .ticket_campingcar_bg{position:absolute;bottom:0;left:0;width:9.375vw;height:auto;transform:translate(-69%,9%)}
.register_section .ticket_tent_bg{position:absolute;top:0;right:0;width:11.25vw;height:auto;transform:translate(34%,-36%)}
.register_section .form_register{margin-top:1.6vw}
.register_section .checkbox_list{margin-top:6.1vw}
.register_section .checkbox_item:first-child{margin-top:0}
.register_section .checkbox_item{margin-top:.8vw;margin-left:.260416vw}
.register_section .gift_register_wrap{text-align:center;padding-top:8.33vw}
.register_section .litte_title{width:14.375vw;margin:0 auto}
.register_section .gift_list{display:flex;justify-content:space-between;width:60.2083vw;margin-top:2.916vw}
.register_section .gift_item{display:flex;flex-direction:column;justify-content:center;align-items:center;width:9.167vw;height:9.167vw;background:url(../img/bg_gift_PC.png);background-size:100% 100%}
.register_section .gift_ic{width:4.167vw;height:4.167vw}
.register_section .item_desc{margin-top:.5208vw;font-size:.7291vw;color:#283d32}
.register_section .bear_bg_pc{position:absolute;bottom:0;width:39.84375vw;height:auto}
.register_section .bear_bg_mo{display:none}
.register_section .deer_bg{position:absolute;right:5.89vw;bottom:0;width:20.46875vw}
.register_section .deer_wrap{position:absolute;right:15.1458vw;z-index:1;width:14.167vw;height:6.61458vw;background:url(../img/img_bubble_PC.png) no-repeat;background-size:100% 100%}
.register_section .deer_txt{padding:1.0416vw 2.03125vw 2.2395vw 1.71875vw;font-size:1.04167vw;color:#000}
.register_section .ticket_tent_bg.only_mo{display: none}
.register_section .ticket_tent_bg.only_pc{display: block}
.btn_close_gnb_mo{display:none}
/* event section */
.event_section{position:relative;background-image:linear-gradient(to bottom,#397bee,#70bff9 100%)}
.event_section .inner{padding:8.33vw 0 16.1979166667vw}
.event_section .bg_event{position:absolute;bottom:0;z-index:10;width:100%}
.event_section .litte_title~.txt_desc{margin-top:11px}
.event_section .img_cloud_pc{position:absolute;top:20.834vw;z-index:-1;width:85.78125vw;transform:translateX(4%)}
.event_section .img_cloud_pc.is_active{position:fixed;top:20.834vw}
.event_section .img_cloud_pc.is_stop{position:absolute;top:unset;bottom:16.9270834vw}
.event_section .character_first_wrap{position:absolute;top:50%;left:50%;transform:translate(103%,-135%)}
.event_section .character_first{width:10.3645833vw}
.event_section .character_second{width:17.34375vw;transform:translate(71%,4%)}
.event_section .character_text{width:17.1354166667vw;padding:1.19791666667vw 1.71875vw 2.44791666667vw;background:url(../img/img_bubble_event_PC.png) no-repeat;font-size:1.04166666667vw;color:#000;box-sizing:border-box;line-height:1.6;background-size:100% 100%}
.event_section .bg_bottom{width:100%}
.event_section .litte_title~.txt_desc{margin-top:4px}
.event_section .title{width:52.96875vw}
.event_section .txt_desc{margin-top:.83333333333vw}
.event_section .btn_start{width:16.875vw;height:3.54166666667vw;margin-top:2.5vw;background:url(../img/btn_start_event.png) no-repeat;font-size:1.25vw;background-size:100%;background-size:100%}
.event_section .litte_title{width:53.28125vw;margin-top:14.5833333333vw}
.event_section .divice_list{display:flex;margin-top:2.29166666667vw;gap:1.66666666667vw}
.event_section .divice_item{width:25vw}
.event_section .mission_list{margin-top:1.5625vw;padding:2.08333333333vw 8.22916666667vw 2.08333333333vw 9.16666666667vw;background:url(../img/bg_event_mission.png) no-repeat;background-size:100% 100%}
.event_section .mission_item{position:relative;margin-top:1.04166666667vw;font-size:1.04166666667vw;color:#0f0a4a;line-height:1.5}
.event_section .mission_item::before{position:absolute;top:.572916vw;left:-1.35416666667vw;width:.41666666666vw;height:.41666666666vw;content:"";background-color:#0f0a4a}
.event_section .mission_item:first-child{margin-top:0}
/* rwby_section */
.rwby_section{position:relative}
.rwby_section .inner{padding:5.729167vw 0 12.5520833333vw}
.rwby_section .bg_rwby{position:absolute;top:0;bottom:0;width:100%}
.rwby_section .bg_rwby img{object-fit:cover}
.rwby_section .title{width:34.4270833333vw}
.rwby_section .txt_desc{margin-top:.625vw}
.rwby_section .video_wrap{position:relative;width:38.5416666667vw;height:22.1354166667vw;margin-top:2.5vw;background:url(../img/bg_video_rwby.png) no-repeat;background-size:100% 100%}
.rwby_section .thumb{position:absolute;top:50%;left:50%;z-index:-1;width:37.5vw;transform:translate(-49.98%,-50.1%)}
.rwby_section .btn_video_play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
/* coming section */
.coming_section{position:relative}
.coming_section .inner{padding:5.72916666667vw 0 6.97916666667vw}
.coming_section .title{width:34.4270833333vw}
.coming_section .bg_coming{position:absolute;top:0;width:100%;height:100%}
.coming_section .bg_coming img{object-fit:cover}
.coming_section .character_list{display:flex;margin-top:3.02083333333vw;gap:1.66666666667vw}
.coming_section .character_item{width:23.8020833333vw;box-shadow:0 0 3.64583333333vw 0 rgba(0,0,0,0.7)}
/* war section */
.war_section{position:relative;background-color:#1a1d1c}
.war_section .inner{padding:8.33333333333vw 0 3.9vw}
.war_section .title{width:24.8958333333vw}
.war_section .bg_war{position:absolute;top:2.16666666667vw;width:100%;height:100vh}
.war_section .bg_war.is_active{position:fixed;top:2.16666666667vw;bottom:-2.16666666667vw}
.war_section .bg_war.is_stop{position:absolute;top:unset;bottom:0}
.war_section .txt_desc{margin-top:1.25vw}
.war_section .picture_list{display:flex;flex-wrap:wrap;width:49.2708333333vw;margin-top:4.3vw;gap:1.66666666667vw}
.war_section .picture_item{position:relative;width:23.8020833333vw;height:13.75vw;background:url(../img/bg_picture.png) no-repeat;background-size:100% 100%}
.war_section .picture{position:absolute;top:50%;left:50%;z-index:-1;width:22.96875vw;transform:translate(-50%,-50%)}
.war_section .litte_title{width:15.2604166667vw;margin:7.5vw auto 0}
.war_section .character_boss{position:absolute;top:0;left:50%;z-index:-1;width:35.9375vw;transform:translate(-50%,-70%)}
.war_section .video_wrap{position:relative;width:38.5416666667vw;height:22.1354166667vw;margin-top:19.0104166667vw;background:url(../img/bg_video_rwby.png) no-repeat;background-size:100% 100%}
.war_section .thumb{position:absolute;top:50%;left:50%;z-index:-1;width:37.5vw;transform:translate(-49.98%,-50.1%)}
.war_section .btn_video_play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.war_section .deco_skill_left{position:absolute;bottom:0;left:0;width:12.6041666667vw;transform:translateX(-50%)}
.war_section .deco_skill_right{position:absolute;right:0;bottom:0;width:12.7083333333vw;transform:translateX(50%)}
/* footer */
.footer{position:absolute;right:0;left:0}
.footer .notice_list{margin-top:.625vw}
.footer .notice_list p{margin-left:.2083vw}
.footer .notice_title{font-size:.9375vw;color:#45cfd0}
.footer .notice_item{display:flex;font-size:.72916666666vw;color:#45cfd0;line-height:2}
.footer .notice_wrap{background-color:#1c4646}
.footer .contact_wrap{background-color:#1e3a3a}
.footer .inner{align-items:start;text-align:left}
.notice_wrap .inner{max-width:49.5vw;padding:3.4vw 0 2.91666666667vw}
.footer .table_contact td{font-size:.625vw;color:#8fc1c1;padding-top:.52083333333vw}
.footer .sns_policy{margin-top:1.5625vw;font-size:0}
.footer .sns_policy a{font-size:.625vw;color:#8fc1c1;vertical-align:middle}
.footer .processing_policy{margin-left:.41666666666vw}
.processing_policy::before{display:inline-block;width:.10416666666vw;height:.41666666666vw;margin-right:.41666666666vw;content:"";background-color:#8fc1c1}
.contact_wrap .inner{max-width:49.85vw;padding:2.6vw 0 2.55208333333vw}
.footer .txt_copy{width:19.4270833333vw;margin-top:.625vw}
.footer .col_left{width:7.29166666667vw}
.footer .col_right{width:calc(100% - 7.29166666667vw)}
/* error */
.layer_error{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-image: linear-gradient(138deg, #4db3fe 31%, #00cccd);
}
.layer_error.is_open{
	display: block;
}
.layer_error .cloud_error{
	position: absolute;
	top: 10.52084vw;
	left: 50%;
	width: 91.67vw;
	transform: translateX(-50%);
}
.layer_error .error_title{
	width: 42.60416vw;
}
.layer_error .txt_desc{
	margin-top: 0.84vw;
	font-size: 1.25vw;
	line-height: 1.67;
}
.layer_error .txt_litte{
	margin-top: 1.25vw;
	font-size: 1.04167vw;
	text-align: center;
}
.layer_error .btn_home{
	position: relative;
	width: 16.875vw;
	height: 3.54167vw;
	margin-top: 2.5vw;
	background: url(../img/btn_start_event.png) no-repeat;
	background-size: 100% 100%;
}
.layer_error .btn_home::before{
	position: absolute;
	width: 3.4375vw;
	height: 1.041667vw;
	background: url(../img/img_txt_home.png) no-repeat;
	transform: translate(-50%, -50%);
	content: "";
	background-size: 100% 100%;
}
/* mobile */ 

@media (max-width:1023px){
/* pop */
.layer_pop{width:327px;padding: 24px 32px 24px 32px}
.pop_txt{font-size:11px;text-align:center;line-height:20px}
.pop_title{font-size:12px}
.pop_green::before,.pop_green::after,.pop_red::before,.pop_red::after{display:inline-block;position:absolute;left:-8px;width:327px;height:24px;content:""}
.pop_green::before{top:-9px;background:url(../img/img_pop_green_top_MO.png) no-repeat;background-size:100% 100%}
.pop_green::after{bottom:-9px;background:url(../img/img_pop_green_bottom_MO.png) no-repeat;background-size:100% 100%}
.pop_red::before{top:-9px;background:url(../img/img_pop_red_top_MO.png) no-repeat;background-size:100% 100%}
.pop_red::after{bottom:-9px;background:url(../img/img_pop_red_bottom_MO.png) no-repeat;background-size:100% 100%}
.pop_green.layer_pop{border-left:8px solid #688a34;border-right:8px solid #688a34}
.pop_red.layer_pop{border-left:8px solid #cb1f3b;border-right:8px solid #cb1f3b}
.pop_btn{width:224px;height:44px;margin-top:32px;font-size:16px}
.event_ended .pop_img{width:267px;height:105px;margin-top:.770833vw;background:url(../img/img_bubble_pop.png) no-repeat;transform:translate(-50%,6%);background-size:100% 100%}
.event_ended .pop_img_txt{max-width:167px;padding:0 0 0 0;font-size:11px;line-height:18px}
.event_ended .ic_pop{width:48px}
.event_ended .top_img_inner{padding:19px 19px 38px 21px}
.layer_pop .email_crusader{margin-bottom:12px;font-size:16px}
/* layer Error */
.layer_error .error_title{
	width: 213px;
}
.layer_error .txt_desc{
	max-width: 203px;
	margin-top: 6px;
	font-size: 12px;
	line-height: 20px;
}
.layer_error .txt_litte{
	max-width: 180px;
	margin-top: 16px;
	font-size: 11px;
	line-height: 20px;
}
.layer_error .btn_home{
	width: 224px;
	height: 44px;
	margin-top: 24px;
	background: url(../img/btn_home_MO.png) no-repeat;
	background-size: 100% 100%;
}
.layer_error .btn_home::before{
	display: none;
	content: "";
}

.cloud_error .only_mo{display: none}
.cloud_error .only_pc{display: block}
/* header */
.header .sns_link{display:flex;align-items:center}
/* Layer */
.layer_video{display:none;position:fixed;top:50%;left:50%;z-index:105;width:54.167vw;-webkit-transform:translate(-50%,-69%);-ms-transform:translate(-50%,-69%);transform:translate(-50%,-69%);padding-top:30.8334vw}
/* header MO*/
.header{top:0;height:80px;padding:0 24px}
.header.is_active{background:#000;opacity: 0.5}
.header .logo{margin-left:16px}
.header .btn_gnbopen{display:inline-block;width:24px;height:24px;background:url(../img/ico_menu_mo@2x.png);vertical-align:middle;background-size:100% 100%}
.header .logo_link{width:116px}
.header .sns_facebook{width:32px;height:32px;background:url(../img/ic_facebook@2x.png) no-repeat;background-size:100% 100%}
.header .sns_youtube{width:32px;height:32px;margin-left:12px;background:url(../img/ic_youtube@2x.png) no-repeat;background-size:100% 100%}
/* main section  MO*/
.main_section .sub_title{font-size:20px}
.main_section .title_pc{display:none}
.main_section .title{width:268px;margin:1.7241vh 0 0}
.main_section .title_mo{display:block}
.main_section .txt_desc{margin-top:0;font-size:14px;line-height:1.7142}
.main_section .btn_video_play{width:88px;height:88px}
.main_section .btn_aos,.main_section .btn_ios{display:inline-block;width:136px}
.main_section .scroll_box{bottom:3.80295vh}
.main_section .scroll_btn{width:119px;height:21px}
.main_section .scroll_btn:after{width:15px;height:9px;margin:29px auto 0}
.main_section .bg_main_pc{display:none}
.main_section .bg_main_mo{display:block}
.main_section .character{position:absolute;top:54.80295vh;left:calc(50% + 64px);width:95.9px}
/* layer */
.layer_video{display:none;width:87.2vw;padding-top:49.05vw}
.layer_video iframe{width:86vw;height:48.375vw;border-radius:2%}
.layer_video .btn_close{width:48px;height:48px}
/* comon */
.img_title_pc{display:none}
.txt_desc{font-size: 12px;line-height: 20px}
.txt_desc.only_mo{display: block}
.txt_desc.only_pc{display: none}
.cloud_mo{display: block}
.cloud_pc{display: none}
.only_pc{display:none}
.only_mo{display:block}
.gnb_wrap{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;background-color:rgba(0,0,0,.6)}
.gnb_wrap.is_open{display: block}
.gnb_wrap.is_open .btn_close_gnb_mo{display: block}
.gnb_list{display:block;top:50%;left:50%;z-index:999;transform:translate(-50%,-50%)}
.gnb_list .gnb_link{font-size:16px;line-height:1.375}
.gnb_item{width:193px;height:56px;margin-top:20px}
.gnb_item:nth-child(3){height:100px}
/* regist section */
.register_section .title{width:265px}
.register_section .txt_desc{width:295px;margin-top:10px}
.register_section .ticket_wrap{width:327px;height:574px;margin-top:48px;background:url(../img/bg_register_ticket_MO.png) no-repeat;background-size:100% 100%}
.register_section .img_title_mo{display:block}
.register_section .ticket_title{width:180px;height:86px}
.register_section .img_ticket_title_pc{display:none}
.register_section .img_ticket_title_mo{display:block}
.register_section .period_notice{font-size:14px;text-align:center}
.register_section .period_date{width:264px;margin-top:10px;font-size:16px;text-align:center;line-height:1.7}
.register_section .period{width:unset;margin-top:30px}
.register_section #email_inp{width:279px;height:40px;padding:11px 15px 8px;font-size:16px;color:#283d32;box-sizing:border-box}
.register_section .email_sub_text{width:279px;margin:10px auto 0;font-size:11px;line-height: 1.36}
.register_section .ticket_line_bg{top:calc(50% + 52px);width:260px}
.register_section .ticket_line_bg.only_mo{display:block}
.register_section .ticket_line_bg.only_pc{display:none}
.register_section .form_register{margin-top:22px}
.register_section .checkbox_list{margin-top:78px}
.register_section .checkbox_input+i{width:16px;height:16px}
.register_section .text_label{display:inline-block;max-width: 240px;margin-left:10px;font-size:11px;color:#283d32;vertical-align:middle;cursor:pointer}
.register_section .checkbox_item{margin-top:13px;margin-left:6px}
.register_section .btn_register{top:calc(100% - 85px);left:50%;width:224px;height:44px;background:url(../img/btn_register_MO.png);font-size:16px;transform:translateX(-50%);background-size:100% 100%}
.register_section .ticket_campingcar_bg{width:96px;transform:translate(-10%,46%)}
.register_section .ticket_grass_bg{display:none}
.register_section .ticket_tent_bg{width:99px;transform: translate(13%,-46%)}
.register_section .litte_title{width:145px}
.gift_register_wrap .txt_desc{width:215px;margin:9px auto 0}
.register_section .gift_item{width:100px;height:108px;background:url(../img/bg_gift_MO.png);background-size: 100% 100%}
.register_section .gift_list{display:flex;flex-wrap:wrap;justify-content:center;width:375px;margin-top:22px;gap:14px}
.register_section .gift_ic{width:40px;height:40px}
.register_section .item_desc{display:flex;align-items:center;height:26px;margin-top:12px;font-size:10px}
.register_section .deer_bg{right: 30px;width:137px}
.register_section .bear_bg_mo{display:block;position:absolute;bottom:0;width:171px;height:auto}
.register_section .bear_bg_pc{display:none}
.register_section .deer_wrap{right:34px;bottom:95px;width:156px;height:74px;background:url(../img/img_bubble_MO.png) no-repeat;background-size:100% 100%}
.register_section .deer_txt{padding:12px 15px 26px 17px;font-size:12px;color:#000;line-height:1.667}
.register_section .inner{padding:104px 0 196px}
.register_section .ticket_rock_bg{width:88px;height:auto;transform:translate(8%,40%)}
.register_section .txt_dest_mo{display:inline-block;width:250px}
.register_section .ticket_tent_bg.only_pc{display: none}
.register_section .ticket_tent_bg.only_mo{display: block}
.app_list{top:unset;right:24px;bottom:32px}
.app_item{width:52px;margin-top:16px}
.main_section .app_link{margin-top:56px}
.register_section .gift_register_wrap{padding-top:109px}
.register_section .text_label_deep{margin-left: 6px}
.register_section .text_label.only_mo{display: inline-block}
.register_section .text_label.only_pc{display: none}
.btn_close_gnb_mo{display:none;position:fixed;top:24px;right:24px;z-index:999;width:48px;height:48px;background:url(../img/btn_close_64.png) no-repeat;background-size:100% 100%}
/* event */
.event_section .btn_start{width:224px;height:44px;margin-top:24px;background:url(../img/btn_start_event_MO.png) no-repeat;font-size:16px;background-size:100%;background-size:100%}
.event_section .character_first{width:100px;transform:translate(52px,-2px)}
.event_section .title{width:265px}
.event_section .img_cloud_pc{position:absolute;top:436px;left:50%;width:121px;transform: translateX(-141%)}
.event_section .img_cloud_pc.is_active{position:fixed;top:436px}
.event_section .img_cloud_pc.is_stop{position:absolute;top:unset;bottom:146px}
.event_section .character_first_wrap{top:392px;transform:unset}
.event_section .character_text{width:196px;height:102px;padding:16px 12px 28px 20px;background:url(../img/img_bubble_event_MO.png);font-size:12px;line-height:20px;background-size:100% 100%}
.event_section .litte_title{width:184px;margin:324px 0 12px}
.event_section .divice_list{flex-direction:column;margin-top:31px;gap:16px}
.event_section .divice_item{width:290px}
.event_section .txt_desc{margin-top:8px}
.event_section .mission_list{margin-top:21px;padding:22px 36px 22px 52px;background:url(../img/bg_event_mission_MO.png) no-repeat;background-size:100% 100%}
.event_section .mission_item{position:relative;max-width:239px;margin-top:8px;font-size:10px;color:#0f0a4a;line-height:16px}
.event_section .mission_item::before{position:absolute;top:5px;left:-12px;width:4px;height:4px;content:"";background-color:#0f0a4a}
.event_section .character_second{position:absolute;left:50%;width:189px;transform:translate(-88%,-96%)}
.event_section .inner{padding:104px 0 283px}
.event_section .bg_bottom{height:154px}
/* rwby section*/
.rwby_section .title{width:292px}
.rwby_section .inner{padding:88px 0 291px}
.rwby_section .video_wrap{width:327px;height:187px;margin-top:32px}
.rwby_section .txt_desc{margin-top:6px}
.rwby_section .thumb{top:50%;left:50%;z-index:-1;width:319px;transform:translate(-49.98%,-50.1%)}
.rwby_section .btn_video_play{width:64px;height:64px}
/* comming section */
.coming_section .inner{padding:92px 0 131px}
.coming_section .title{width:309px}
.coming_section .character_list{margin-top:85px}
.coming_section .character_item{width:327px}
/* war section */
.war_section .inner{padding:120px 0}
.war_section .title{width:213px}
.war_section .txt_desc{max-width:324px;margin-top:12px}
.war_section .picture_list{flex-direction:column;width:unset;margin-top:32px;gap:16px}
.war_section .picture_item{width:327px;height:187px}
.war_section .picture{width:319px}
.war_section .litte_title{width:160px;margin-top:64px}
.war_section .character_boss{width:375px}
.war_section .video_wrap{width:327px;height:187px;margin-top:195px}
.war_section .thumb{width:319px}
.war_section .deco_skill_left{width:137px}
.war_section .deco_skill_right{width:139px}
.war_section .btn_video_play{width:64px;height:64px}
.bg_rwby .only_mo{display:none}
.bg_rwby .only_pc{display:block}
.bg_war .only_mo{display:none}
.bg_war .only_pc{display:block}
/* footer */
.footer .inner{max-width:330px}
.notice_wrap .inner{padding:32px 0}
.footer .notice_title{font-size:14px}
.footer .notice_item{margin-top:10px;font-size:11px;line-height:16px;gap:8px}
.footer .table_contact td{padding:5px;font-size:11px}
.footer .col_left{width:100px}
.footer .col_right{width:207px}
.footer .sns_policy{margin:24px auto 0}
.footer .sns_policy a{font-size:11px}
.processing_policy::before{width:2px;height:8px}
.footer .txt_copy{width: 268px;margin: 10px auto 0}
}
@media (max-width:376px){
.main_section .inner{padding:200px 0}
.bg_rwby .only_mo{display:block}
.bg_rwby .only_pc{display:none}
.bg_war .only_mo{display:block}
.bg_war .only_pc{display:none}
.war_section .bg_war img{object-fit:cover}
.layer_error .cloud_error{position:absolute;top:78px;width:375px}
.cloud_error .only_mo{display: block}
.cloud_error .only_pc{display: none}
}