<footer id="footer" class="footer">
    <div class="footer_wrap">
        <ul class="footer_menu_list">
            <li class="footer_menu_item">
                <span class="footer_title">모델</span>
                <ul class="footer_menu_item-sub">
                    <li><a class="footer_menu_item-link" href="#none">LS</a></li>
                    <li><a class="footer_menu_item-link" href="#none">ES</a></li>
                    <li><a class="footer_menu_item-link" href="#none">RX</a></li>
                    <li><a class="footer_menu_item-link" href="#none">RZ</a></li>
                    <li><a class="footer_menu_item-link" href="#none">NX</a></li>
                </ul>
            </li>
            <li class="footer_menu_item">
                <span class="footer_title">구매</span>
                <ul class="footer_menu_item-sub">
                    <li><a class="footer_menu_item-link" href="#none">견적 조회</a></li>
                    <li><a class="footer_menu_item-link" href="#none">차량 비교</a></li>
                    <li><a class="footer_menu_item-link" href="#none">구매 혜택</a></li>
                </ul>
            </li>
            <li class="footer_menu_item">
                <span class="footer_title">서비스</span>
                <ul class="footer_menu_item-sub">
                    <li><a class="footer_menu_item-link" href="#none">렉서스 서비스</a></li>
                    <li><a class="footer_menu_item-link" href="#none">서비스 프로그램</a></li>
                    <li><a class="footer_menu_item-link" href="#none">하이브리드 서비스</a></li>
                    <li><a class="footer_menu_item-link" href="#none">서비스센터</a></li>
                    <li><a class="footer_menu_item-link" href="#none">사용자 매뉴얼</a></li>
                </ul>
            </li>
            <li class="footer_menu_item">
                <span class="footer_title">브랜드</span>
                <ul class="footer_menu_item-sub">
                    <li><a class="footer_menu_item-link" href="#none">ABOUT LEXUS</a></li>
                    <li><a class="footer_menu_item-link" href="#none">BRAND STORY</a></li>
                    <li><a class="footer_menu_item-link" href="#none">LEXUS DESIGN AWARD</a></li>
                    <li><a class="footer_menu_item-link" href="#none">LEXUS CREATIVE MASTERS</a></li>
                    <li><a class="footer_menu_item-link" href="#none">LEXUS META CITY</a></li>
                </ul>
            </li>
            <li class="footer_menu_item">
                <span class="footer_title">렉서스 라운지</span>
            </li>
            <li class="footer_menu_item">
                <span class="footer_title">풋터 컨텐츠</span>
            </li>
        </ul>
        <div class="footer_static">
            <div class="footer_contact">
                <dl class="contact_wrap">
                    <dt>긴급 출동 서비스</dt>
                    <dd><a href="">080-4300-4300</a> (ARS 1번 /24시간 연중무휴)</dd>
                </dl>
                <dl class="contact_wrap">
                    <dt>렉서스 서비스 예약</dt>
                    <dd><a href="">080-4500-4500</a> (24시간 연중무휴)</dd>
                </dl>
                <dl class="contact_wrap">
                    <dt>고객 지원실</dt>
                    <dd><a href="">080-4300-4300</a> (평일 09:00-18:00)</dd>
                </dl>
            </div>
            <ul class="footer_coppyright_list">
                <li class="footer_coppyright_item"> 
                    <a href="footer_coppyright_link">LEXUS INTERNATIONAL</a>
                </li>
                <li class="footer_coppyright_item"> 
                    <a href="footer_coppyright_link">개인정보처리방침</a>
                </li>
                <li class="footer_coppyright_item"> 
                    <a href="footer_coppyright_link">법적고지</a>
                </li>
                <li class="footer_coppyright_item"> 
                    <span>TOYOTA MOTOR KOREA</span>
                </li>
            </ul>
        </div>
    </div>
</footer>