<header id="header" class="header">
    <div class="header_inner">
        <h1 class="logo">
            <a href="/" class="logo_link">
                <img src="../../img/logo.png" alt="">
            </a>
            <span class="blind">Logo</span>
        </h1>
        <div class="gnb_area">
            <div class="gnb_wrap">
                <ul class="gnb_list">
                    <li class="gnb_item">
                        <button type="button" class="gnb_btn">model</button>
                    </li>
                    <li class="gnb_item">
                        <button type="button" class="gnb_btn">buy</button>
                    </li>
                    <li class="gnb_item">
                        <button type="button" class="gnb_btn">service</button>
                    </li>
                    <li class="gnb_item">
                        <button type="button" class="gnb_btn">brand</button>
                    </li>
                </ul>
                <div class="gnb-sub">
                    <div class="gnb-sub_inner">
                        <ul class="gnb-sub_menu01">
                            <li>
                                <a href="#" class="gnb-sub_link01">LS</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">LS 500h</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_LS-500h.jpg" alt="">
                                                <figcaption class="blind">LS 500h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LS 500</dt> 
                                                        <dd class="car_price">153,430,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>3,456cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>359 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>9.6km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">LS 500</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_LS-500.jpg" alt="">
                                                <figcaption class="blind">LS 500h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LS 500</dt> 
                                                        <dd class="car_price">133,830,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>3,445cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>422 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>7.9km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="gnb-sub_link01">ES</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">ES 300h</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car5.jpg" alt="">
                                                <figcaption class="blind">ES 300h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">ES 300h</dt> 
                                                        <dd class="car_price">64,800,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>2,487cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>218 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>17.2km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">LS 500</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car6.jpg" alt="">
                                                <figcaption class="blind">LS 500h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LS 500</dt> 
                                                        <dd class="car_price">133,830,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>3,445cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>422 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>9.6km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="gnb-sub_link01">RX</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">RX 350h</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car5.jpg" alt="">
                                                <figcaption class="blind">RX 350h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">RX 350h</dt> 
                                                        <dd class="car_price">98,700,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>2,487cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>249 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>13.6km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">RX 450h+</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car3.jpg" alt="">
                                                <figcaption class="blind">RX 450h+의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">RX 450h+</dt> 
                                                        <dd class="car_price">109,930,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>2,487cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>309 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>14.0km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">RX 500h</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car2.jpg" alt="">
                                                <figcaption class="blind">RX 500h+의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">RX 500</dt> 
                                                        <dd class="car_price">117,030,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>2,393cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>371 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>10.0km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="gnb-sub_link01">RZ</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">RZ 450e</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car2.jpg" alt="">
                                                <figcaption class="blind">RZ 450e의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">RZ 450e</dt> 
                                                        <dd class="car_price">84,900,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>71kWh</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>312 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>5.4km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="gnb-sub_link01">NX</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">NX 350h</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car3.jpg" alt="">
                                                <figcaption class="blind">NX 350h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">NX 350h</dt> 
                                                        <dd class="car_price">66,700,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>2,487cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>242 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>14.0km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">NX 450h+</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car6.jpg" alt="">
                                                <figcaption class="blind">NX 450h+의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">NX 450h+</dt> 
                                                        <dd class="car_price">74,900,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>2.487cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>307 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>14.4km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">NX 450h+ F SPORT</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car5.jpg" alt="">
                                                <figcaption class="blind">NX 450h+ F SPORT의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">NX 450h+ F SPORT</dt> 
                                                        <dd class="car_price">82,000,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>2.487cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>307 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>14.4km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="gnb-sub_link01">UX</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">UX 250h 2WD</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car4.jpg" alt="">
                                                <figcaption class="blind">UX 250h 2WD의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">UX 250h 2WD</dt> 
                                                        <dd class="car_price">50,900,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>1,987cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>183 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>16.7km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">UX 250h AWD</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car2.jpg" alt="">
                                                <figcaption class="blind">UX 250h AWD의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">UX 250h AWD</dt> 
                                                        <dd class="car_price">58,600,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>1,987cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>183 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>15.0km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">UX 250h F SPORT</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car6.jpg" alt="">
                                                <figcaption class="blind">UUX 250h F SPORT의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">UX 250h F SPORT</dt> 
                                                        <dd class="car_price">56,400,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>1,987cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>183 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>16.7km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="gnb-sub_link01">LC</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">LC 500h</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car5.jpg" alt="">
                                                <figcaption class="blind">LC 500h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LC 500h</dt> 
                                                        <dd class="car_price">192,400,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>3,45 6cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>359 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>10.9km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">LC 500</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car4.jpg" alt="">
                                                <figcaption class="blind">LC 500의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LC 500</dt> 
                                                        <dd class="car_price">181,700,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>4,969cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>477 ps / 7,100 rpm</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>7.7km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">LC 500 CONVERTIBLE</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car5.jpg" alt="">
                                                <figcaption class="blind">LC 500 CONVERTIBLE의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LC 500 CONVERTIBLE</dt> 
                                                        <dd class="car_price">190,500,000원</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>4,969cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>477 ps / 7,100 rpm</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>7.5km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="gnb-sub_link01">FUTURE</a>
                                <ul class="gnb-dept_list">
                                    <li>
                                        <a href="/" class="gnb-dept_link">LF-Z Electrified</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car4.jpg" alt="">
                                                <figcaption class="blind">LF-Z Electrified의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LF-Z Electrified</dt> 
                                                        <dd class="car_price">133,830,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>3,445cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>422 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>9.6km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/" class="gnb-dept_link">LS 500</a>
                                        <div class="gnb-dept_detail">
                                            <figure>
                                                <img src="../../img/img_car3.jpg" alt="">
                                                <figcaption class="blind">LS 500h의 대표 이미지입니다.</figcaption>
                                            </figure>
                                            <div class="detail_wrap">
                                                <div class="detail-title">
                                                    <dl class="car">
                                                        <dt class="car_modal">LS 500</dt> 
                                                        <dd class="car_price">133,830,000원~</dd>
                                                    </dl>
                                                    <div class="system">
                                                        <a href="/" target="_self" class="link system_link"><span>모델정보</span></a>
                                                        <a href="/" target="_self" class="link system_link"><span>시승신청</span></a>
                                                    </div>
                                                </div>
                                                <div class="detail-parameter">
                                                    <dl class="parameter">
                                                        <dt>배기량</dt> 
                                                        <dd>3,445cc</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>시스템 총 출력</dt> 
                                                        <dd>422 ps</dd>
                                                    </dl>
                                                    <dl class="parameter">
                                                        <dt>연비 (복합)</dt> 
                                                        <dd>9.6km/l</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <span class="gnb_close">
                                                <img src="../../img/svg/btn_gnb_close_over.svg" alt="">
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="gnb-sub_menu01">
                            <li><a href="#" class="gnb-sub_link01">견적 조회</a></li>
                            <li><a href="#" class="gnb-sub_link01">차량 비교</a></li>
                            <li><a href="#" class="gnb-sub_link01">구매 혜택</a></li>
                        </ul>
                        <ul class="gnb-sub_menu01">
                            <li><a href="#" class="gnb-sub_link01">렉서스 서비스</a></li>
                            <li><a href="#" class="gnb-sub_link01">서비스 프로그램</a></li>
                            <li><a href="#" class="gnb-sub_link01">하이브리드 서비스</a></li>
                            <li><a href="#" class="gnb-sub_link01">서비스센터</a></li>
                            <li><a href="#" class="gnb-sub_link01">사용자 매뉴얼</a></li>
                            <li><a href="#" class="gnb-sub_link01">액세서리</a></li>
                            <li><a href="#" class="gnb-sub_link01">부품 및 취급 정보</a></li>
                            <li><a href="#" class="gnb-sub_link01">서비스자료·장비·교육</a></li>
                            <li><a href="#" class="gnb-sub_link01">24시간 서비스 예약</a></li>
                        </ul>
                        <ul class="gnb-sub_menu01">
                            <li><a href="#" class="gnb-sub_link01">ABOUT LEXUS</a></li>
                            <li><a href="#" class="gnb-sub_link01">BRAND STORY</a></li>
                            <li><a href="#" class="gnb-sub_link01">LEXUS DESIGN AWARD</a></li>
                            <li><a href="#" class="gnb-sub_link01">LEXUS CREATIVE MASTERS</a></li>
                            <li><a href="#" class="gnb-sub_link01">LEXUS META CITY</a></li>
                        </ul>
                        <div class="gnb-sub_footer">
                            <ul class="gnb-sub_footer_list">
                                <li><a href="#" class="gnb-sub_footer_link">시승신청</a></li>
                                <li><a href="#" class="gnb-sub_footer_link">전시장 찾기</a></li>
                                <li><a href="#" class="gnb-sub_footer_link">공식인증중고차</a></li>
                                <li><a href="#" class="gnb-sub_footer_link">오토케어리스</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="quick-menu_list">
                <li class="quick-menu_item">
                    <a href="#" class="quick-menu_link">lexus lounge</a>
                </li>
                <li class="quick-menu_item">
                    <a href="#" class="quick-menu_link">connect to</a>
                </li>
            </ul>
            
        </div>
    </div>
    <div class="box-chat">
        <img src="../../img/img_box-chat.png" alt="">
    </div>
</header>