@@include('./include/head.html',{"title": "LEXUS", "list_title": "Main : Common"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html')
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content" class="main">
			<section class="section key-visual">
				<div class="swiper-wrapper">
					<div class="key-visual-wrap swiper-slide">
						<div class="key-visual_bg">
							<img src="../img/bg_kv_rz.jpg" alt="key-visual_bg">
						</div>
						<div class="key-visual_content">
							<h2 class="title">RY</h2>
							<div class="sub_title_wrap">
								<p class="sub_title_lang-ko">하나의 모델, 세 가지 전동화 선택지</p>
								<p class="sub_title_lang-en">LEXUS LIFE SIGNATURE, NEW GENERATION RX</p>
								<ul class="sub_title_list" >
									<li class="sub_title_item"><a class="link txt_black sub_title_link">모델정보</a></li>
									<li class="sub_title_item"><a class="link txt_black sub_title_link">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="key-visual-wrap swiper-slide txt_white">
						<div class="key-visual_bg">
							<img src="../img/bg_kv_rx.jpg" alt="key-visual_bg">
						</div>
						<div class="key-visual_content">
							<h2 class="title">RX</h2>
							<div class="sub_title_wrap">
								<p class="sub_title_lang-ko">하나의 모델, 세 가지 전동화 선택지</p>
								<p class="sub_title_lang-en">LEXUS LIFE SIGNATURE, NEW GENERATION RX</p>
								<ul class="sub_title_list" >
									<li class="sub_title_item"><a class="link sub_title_link">모델정보</a></li>
									<li class="sub_title_item"><a class="link sub_title_link">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</section>
			<section class="section models-visual">
				<div class="models-visual_wrap">
					<div class="models-visual_title-holder">
						<h2 class="title-holder_heading">models</h2>
						<ul class="title-holder_list">
							<li class="title-holder_item"><button class="title-holder_btn is_active">electrified</button></li>
							<li class="title-holder_item"><button class="title-holder_btn">f sport</button></li>
							<li class="title-holder_item"><button class="title-holder_btn">sedan</button></li>
							<li class="title-holder_item"><button class="title-holder_btn">suv</button></li>
							<li class="title-holder_item"><button class="title-holder_btn">performance</button></li>
							<li class="title-holder_item"><button class="title-holder_btn">future</button></li>
						</ul>
					</div>
					<div class="carousel-car is_active">
						<div class="carousel-car_sub">
							<ul class="carousel-car_title_list">
								<li class="carousel-car_title_item is_show" >
									<span class="title_icon">BEV</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">RX 350h</h3>
									<p class="title_price">98,700,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">PHEV</span>
									<h3 class="title_text-modal">RX 450h+</h3>
									<p class="title_price">109,930,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">RX 500h</h3>
									<p class="title_price">117,030,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">NX 350h</h3>
									<p class="title_price">66,700,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">PHEV</span>
									<h3 class="title_text-modal">NX 450h+</h3>
									<p class="title_price">74,900,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">PHEV</span>
									<h3 class="title_text-modal">NX 450h+ F SPORT</h3>
									<p class="title_price">82,000,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">ES 300h</h3>
									<p class="title_price">64,800,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">ES 300h F SPORT</h3>
									<p class="title_price">74,100,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">LS 500h</h3>
									<p class="title_price">153,430,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">UX 250h AWD</h3>
									<p class="title_price">58,600,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">UX 250h 2WD</h3>
									<p class="title_price">50,900,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">UX 250h F SPORT</h3>
									<p class="title_price">56,400,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">LC 500h</h3>
									<p class="title_price">192,400,000 원</p>
								</li>
							</ul>
							<div class="carousel-car_slider">
								<ul class="carousel-car_list swiper-wrapper">
									<li class="carousel-car_item swiper-slide swiper-slide-active">
										<img src="../img/img_carousel_car1.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car2.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car3.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car4.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car5.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car6.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car7.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car8.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car9.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car10.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car11.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car12.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car2.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car3.png" alt="">
									</li>
								</ul>
								<div class="swiper-pagination swiper-pagination-0"></div>
							</div>
							<div class="link_list_wrap">
								<ul class="link_list is_show">
									<li class="link_item"><a href="#1" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#2" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list ">
									<li class="link_item"><a href="#3" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#4" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#5" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#6" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#7" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#8" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-car">
						<div class="carousel-car_sub ">
							<ul class="carousel-car_title_list">
								<li class="carousel-car_title_item is_show">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">RX 500h</h3>
									<p class="title_price">117,030,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">ES 300h F SPORT</h3>
									<p class="title_price">74,100,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">HEV</span>
									<h3 class="title_text-modal">UX 250h F SPORT</h3>
									<p class="title_price">56,400,000 원</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">PHEV</span>
									<h3 class="title_text-modal">NX 450h+ F SPORT</h3>
									<p class="title_price">82,000,000 원</p>
								</li>
							</ul>
							<div class="carousel-car_slider">
								<ul class="carousel-car_list swiper-wrapper">
									<li class="carousel-car_item swiper-slide swiper-slide-active">
										<img src="../img/img_carousel_car6.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car2.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car3.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car4.png" alt="">
									</li>
								</ul>
								<div class="swiper-pagination swiper-pagination-1"></div>
								
							</div>
							<div class="link_list_wrap">
								<ul class="link_list is_show">
									<li class="link_item"><a href="#1" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#2" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#3" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#4" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-car">
						<div class="carousel-car_sub ">
							<ul class="carousel-car_title_list">
								<li class="carousel-car_title_item is_show">
									<span class="title_icon">POG</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">LOL</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">PHG</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">GPG</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">ALS</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
							</ul>
							<div class="carousel-car_slider">
								<ul class="carousel-car_list swiper-wrapper">
									<li class="carousel-car_item swiper-slide swiper-slide-active">
										<img src="../img/img_carousel_car1.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car11.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car12.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car2.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car3.png" alt="">
									</li>
								</ul>
								<div class="swiper-pagination swiper-pagination-2"></div>
							</div>
							<div class="link_list_wrap">
								<ul class="link_list is_show">
									<li class="link_item"><a href="#1" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#2" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#3" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#4" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-car">
						<div class="carousel-car_sub ">
							<ul class="carousel-car_title_list">
								<li class="carousel-car_title_item is_show" data-model="f" data-test="s">
									<span class="title_icon">ABC</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">CDS</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">LVV</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">VCL</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">TCS</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
							</ul>
							<div class="carousel-car_slider">
								<ul class="carousel-car_list swiper-wrapper">
									<li class="carousel-car_item swiper-slide swiper-slide-active">
										<img src="../img/img_carousel_car1.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car2.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car3.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car4.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car5.png" alt="">
									</li>
								</ul>
								<div class="swiper-pagination swiper-pagination-3"></div>
								
							</div>
							<div class="link_list_wrap">
								<ul class="link_list is_show">
									<li class="link_item"><a href="#1" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#2" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list ">
									<li class="link_item"><a href="#3" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#4" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list ">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list ">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list ">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-car">
						<div class="carousel-car_sub">
							<ul class="carousel-car_title_list">
								<li class="carousel-car_title_item is_show" >
									<span class="title_icon">ABS</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">SCS</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">TCP</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">LVV</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
								<li class="carousel-car_title_item">
									<span class="title_icon">OCS</span>
									<h3 class="title_text-modal">RZ 450e</h3>
									<p class="title_price">84,900,000 원~</p>
								</li>
							</ul>
							<div class="carousel-car_slider">
								<ul class="carousel-car_list swiper-wrapper">
									<li class="carousel-car_item swiper-slide swiper-slide-active">
										<img src="../img/img_carousel_car1.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car11.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car12.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car2.png" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_carousel_car3.png" alt="">
									</li>
								</ul>
								<div class="swiper-pagination swiper-pagination-4"></div>
								
							</div>
							<div class="link_list_wrap">
								<ul class="link_list is_show">
									<li class="link_item"><a href="#1" class="carousel-link_model link txt_black">모델정보</a></li>
									<li style = "display: none;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#2" class="carousel-link_model link txt_black">모델정보</a></li>
									<li style = "display: none;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#3" class="carousel-link_model link txt_black">모델정보</a></li>
									<li style = "display: none;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#4" class="carousel-link_model link txt_black">모델정보</a></li>
									<li style = "display: none;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_black">모델정보</a></li>
									<li style = "display: none;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="carousel-car">
						<div class="carousel-car_sub ">
							<ul class="carousel-car_title_list">
								<li class="carousel-car_title_item is_show" data-model="t" data-test="t">
									<h3 class="title_text-modal">LF-Z Electrified</h3>
								</li>
								<li class="carousel-car_title_item txt_white">
									<h3 class="title_text-modal">LF-30 Electrified</h3>
								</li>
								<li class="carousel-car_title_item txt_white">
									<h3 class="title_text-modal">LF-1 Limitless</h3>
								</li>
								<li class="carousel-car_title_item txt_white">
									<h3 class="title_text-modal">LS+</h3>
								</li>
							</ul>
							<div class="carousel-car_slider">
								<ul class="carousel-car_list future swiper-wrapper">
									<li class="carousel-car_item swiper-slide swiper-slide-active">
										<img src="../img/img_future1.jpg" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_future2.jpg" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_future3.jpg" alt="">
									</li>
									<li class="carousel-car_item swiper-slide">
										<img src="../img/img_future4.jpg" alt="">
									</li>
								</ul>
								<div class="swiper-pagination swiper-pagination-5"></div>
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>
							</div>
							<div class="link_list_wrap">
								<ul class="link_list is_show">
									<li class="link_item"><a href="#1" class="carousel-link_model link txt_black">모델정보</a></li>
									<li style = "display: none;visibility: hidden;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#2" class="carousel-link_model link txt_white">모델정보</a></li>
									<li style = "display: none;visibility: hidden;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#3" class="carousel-link_model link txt_white">모델정보</a></li>
									<li style = "display: none;visibility: hidden;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
								<ul class="link_list">
									<li class="link_item"><a href="#none" class="carousel-link_model link txt_white">모델정보</a></li>
									<li style = "display: none; visibility: hidden;" class="link_item"><a href="#none" class="carousel-link_test link txt_black">시승신청</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		<section class="section offers">
		<div class="offers_wrap">
			<div class="offers_title-holder_wrap">
				<h2 class="offers_header">OFFERS</h2>
				<a href="" class="offers_link-all">전체 혜택 확인하기</a>
			</div>
			<div class="swiper offersSwiper">
				<ul class="offersSlide_list swiper-wrapper">
					<li class="offersSlide_item swiper-slide">
						<div class="offers_bg">
							<img src="../img/img_bg_offer2.jpg" alt="">
						</div>
						<div class="offers_content_wrap">
							<div class="slide-content">
								<strong class="offers_title">RZ 450e</strong>
								<ul class="offers_list">
									<li class="offers_item">- 충전멤버십 카드 지급 (100 만원)</li>
									<li class="offers_item">- 전기차 전용 메인터넌스 및 픽업 &amp; 딜리버리스 서비스</li>
									<li class="offers_item">- 배터리 방전 시, 무상 견인 서비스 제공</li>
								</ul>
							</div>
							<ul class="link_list">
								<li class="link_item"><a href="#none" class="offers_link link txt_black">모델정보</a></li>
								<li class="link_item"><a href="#none" class="offers_link link txt_black">시승신청</a></li>
							</ul>
						</div>
					</li>
					<li class="offersSlide_item swiper-slide">
						<div class="offers_bg">
							<img src="../img/img_bg_offer.jpg" alt="">
						</div>
						<div class="offers_content_wrap">
							<div class="slide-content">
								<strong class="offers_title">LS 500h / LS 500</strong>
								<ul class="offers_list">
									<li class="offers_item">- 법인명의 차량교체 지원 및 개인명의 국산 Flagship 차량 업그레이드 지원</li>
									<li class="offers_item">- TFSKR 금융 프로그램 제공</li>
									<li class="offers_item">- PMS 프리미엄 1 매 제공</li>
								</ul>
							</div>
							<ul class="link_list">
								<li class="link_item"><a href="#none" class="offers_link link txt_black">모델정보</a></li>
								<li class="link_item"><a href="#none" class="offers_link link txt_black">시승신청</a></li>
							</ul>
						</div>
					</li>
					<li class="offersSlide_item swiper-slide">
						<div class="offers_bg">
							<img src="../img/img_bg_offer3.jpg" alt="">
						</div>
						<div class="offers_content_wrap">
							<div class="slide-content">
								<strong class="offers_title">ES 300h</strong>
								<ul class="offers_list">
									<li class="offers_item">- TFSKR 금융 프로그램 제공</li>
									<li class="offers_item">- 현금 및 타사/할부 리스 구매 시 PMS 1매 제공</li>
								</ul>
							</div>
							<ul class="link_list">
								<li class="link_item"><a href="#none" class="offers_link link txt_black">모델정보</a></li>
								<li class="link_item"><a href="#none" class="offers_link link txt_black">시승신청</a></li>
							</ul>
						</div>
					</li>
					<li class="offersSlide_item swiper-slide">
						<div class="offers_bg">
							<img src="../img/img_bg_offer4.jpg" alt="">
						</div>
						<div class="offers_content_wrap">
							<div class="slide-content">
								<strong class="offers_title">LS 500h / LS 500</strong>
								<ul class="offers_list">
									<li class="offers_item">- 법인명의 차량교체 지원 및 개인명의 국산 Flagship 차량 업그레이드 지원</li>
									<li class="offers_item">- TFSKR 금융 프로그램 제공</li>
									<li class="offers_item">- PMS 프리미엄 1 매 제공</li>
								</ul>
							</div>
							<ul class="link_list">
								<li class="link_item"><a href="#none" class="offers_link link txt_black">모델정보</a></li>
								<li class="link_item"><a href="#none" class="offers_link link txt_black">시승신청</a></li>
							</ul>
						</div>
					</li>
					<li class="offersSlide_item swiper-slide">
						<div class="offers_bg">
							<img src="../img/img_bg_offer5.jpg" alt="">
						</div>
						<div class="offers_content_wrap">
							<div class="slide-content">
								<strong class="offers_title">NX 450h+/NX 450h+ F SPORT</strong>
								<ul class="offers_list">
									<li class="offers_item">- 충전 멤버십카드 지급(50만원)</li>
								</ul>
							</div>
							<ul class="link_list">
								<li class="link_item"><a href="#none" class="offers_link link txt_black">모델정보</a></li>
								<li class="link_item"><a href="#none" class="offers_link link txt_black">시승신청</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
		</section>
		<section class="section banners">
			<ul class="banners_list">
				<li class="banners_item">
					<a  href ="#none" class="banners_link">
						<div class="banners_bg">
							<img src="../img/img_bg_banner.jpg" alt="">
						</div>
						<div class="banners_txt_wrap">
							<strong class="banners_title">렉서스 금융 프로그램</strong>
							<p class="banners_title-desc">렉서스 모델을 더욱 합리적이고 특별하게 <br> 경헐할 수 있는 다양한 금융 프로그램을 확인하세요.</p>
							<button class="banners_btn">자세히 보기</button>
						</div>
					</a>
				</li>
				<li class="banners_item">
					<a  href ="#none" class="banners_link txt_white">
						<div class="banners_bg">
							<img src="../img/img_bg_banner2.jpg" alt="">
						</div>
						<div class="banners_txt_wrap">
							<strong class="banners_title">렉서스 금융 프로그램</strong>
							<p class="banners_title-desc">렉서스 모델을 더욱 합리적이고 특별하게 경헐할 수 있는 <br> 다양한 금융 프로그램을 확인하세요.</p>
							<button class="banners_btn">자세히 보기</button>
						</div>
					</a>
				</li>
				<li class="banners_item">
					<a  href ="#none" class="banners_link">
						<div class="banners_bg">
							<img src="../img/img_bg_banner3.jpg" alt="">
						</div>
						<div class="banners_txt_wrap">
							<strong class="banners_title">렉서스 금융 프로그램</strong>
							<p class="banners_title-desc">렉서스 모델을 더욱 합리적이고 특별하게 경헐할 수 있는 <br> 다양한 금융 프로그램을 확인하세요.</p>
							<button class="banners_btn">자세히 보기</button>
						</div>
					</a>
				</li>
			</ul>
		</section>
		<section class="section stories">
			<h2 class="stories_header">LEXUS STORIES</h2>
			<ul class="stories_list">
				<li class="stories_item">
					<a href="#none" class="stories_link">
						<h3 class="stories_txt">LEXUS LOUNGE</h3>
						<div class="stories_img">
							<img src="../img/img_stories.jpg" alt="">
						</div>
					</a>
				</li>
				<li class="stories_item">
					<a href="#none" class="stories_link">
						<h3 class="stories_txt">24시간 서비스 예약전용<br>AI 콜센터</h3>
						<div class="stories_img">
							<img src="../img/img_stories2.jpg" alt="">
						</div>
					</a>
				</li>
				<li class="stories_item">
					<a href="#none" class="stories_link">
						<h3 class="stories_txt">저금리 구매혜택</h3>
						<div class="stories_img">
							<img src="../img/img_stories3.jpg" alt="">
						</div>
					</a>
				</li>
				<li class="stories_item">
					<a href="#none" class="stories_link">
						<h3 class="stories_txt">LEXUS CREATIVE MASTERS 2023 <br> 최종 수상자 5인의 이야기</h3>
						<div class="stories_img">
							<img src="../img/img_stories4.jpg" alt="">
						</div>
					</a>
				</li>
			</ul>
			<div class="stories_load-more">
				<button type="button" class="stories_btn">렉서스 스토리 더보기 <span class="stories_btn-plus">+</span></button>
				<ul class="stories_hash_list">
					<li class="stories_hash_item">
						<a href="#1" class="stories_hash_link black">#ALL</a>
					</li>
					<li class="stories_hash_item">
						<a href="#2" class="stories_hash_link">#BRAND STORY</a>
					</li>
					<li class="stories_hash_item">
						<a href="#3" class="stories_hash_link">#ELECTRIFIED</a>
					</li>
					<li class="stories_hash_item">
						<a href="#4" class="stories_hash_link">#TESTDRIVE CAMPAIGN</a>
					</li>
					<li class="stories_hash_item">
						<a href="#5" class="stories_hash_link">#LEXUS CREATIVE MASTERS</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="section film-brand">
			<div class="film-brand_wrap">
				<a href="#none" class="film-brand_link">
					<img src="../img/img_bg_film.jpg" alt="">
				</a>
			</div>
		</section>
		<section class="section support">
			<div class="support_wrap">
				<h2 class="support_header">support</h2>
				<ul class="support_banner-list">
					<li class="support_banner-item">
						<a href="#none" class="support_banner-link">
							<p class="banner-link_text">합리적이고 다양한 구매혜택을 알아보세요.</p>
							<button class="banner-link_btn" type="button">구매혜택</button>
						</a>
					</li>
					<li class="support_banner-item">
						<a href="#none" class="support_banner-link">
							<p class="banner-link_text">원하는 렉서스 차량의 견적을 확인해보세요.</p>
							<button class="banner-link_btn" type="button">견적조회</button>
						</a>
					</li>
					<li class="support_banner-item">
						<a href="#none" class="support_banner-link">
							<p class="banner-link_text">나에게 가까운 렉서스 전시장을 찾아보세요.</p>
							<button class="banner-link_btn" type="button">전시장찾기</button>
						</a>
					</li>
					<li class="support_banner-item">
						<a href="#none" class="support_banner-link">
							<p class="banner-link_text">쉽고 빠르게 차량 시승 서비스를 신청하세요.</p>
							<button class="banner-link_btn" type="button">시승신청</button>
						</a>
					</li>
				</ul>
				<ul class="support_sns-list">
					<li class="support_sns-item">
						<a href="#none" class="support_sns-link facebook"></a>
					</li>
					<li class="support_sns-item">
						<a href="#none" class="support_sns-link instagram"></a>
					</li>
					<li class="support_sns-item">
						<a href="#none" class="support_sns-link youtube"></a>
					</li>
				</ul>
			</div>
		</section>
		</main>
		<!-- // [D] CONTENTS -->
		<!--[D] FOOTER -->
@@include('./include/footer.html')
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer">
	</div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>
